body,
html {
  padding: 0;
  width: 100%;
  font-family: "Next", sans-serif !important;
  font-size: 24px;
  height: 100%;
  overflow: hidden;
}
*:not(.other-font) {
  font-family: "Next";
}
body {
  max-width: unset;
}

#page-content {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 90px !important;
  height: 100%;
  box-sizing: border-box;
  transition: padding-top 0.25s ease-in-out, margin-top 0.25s ease-in-out;
}
header {
  background-color: var(--secondary);
  height: 90px;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  border-radius: 0 0 18px 18px;
  transition: padding 0.25s ease-in-out, height 0.25s ease-in-out;
}
#tab-container #tab-content {
  margin-top: 0px;
  transition: margin-top 0.25s ease-in-out;
}
#mascot-slot,
#profile-picture,
#header-readouts {
  transform: none;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, width 0.25s ease-in-out;
}
@media (max-width: 500px) {
  body[header-collapsed] #tab-container #tab-content {
    margin-top: 50px;
  }
  body[header-collapsed] #goal-progress {
    margin: 0 !important;
    height: 20px;
  }
  body[header-collapsed] header {
    padding: 10px 10px;
    height: 40px;
  }
  body[header-collapsed] #page-content {
    padding-top: 40px !important;
  }
  body[header-collapsed] #goal-text {
    transform: translateX(-100%) scale(0.5);
    line-height: 20px;
    height: 20px;
    opacity: 0;
  }
  body[header-collapsed] #mascot-slot,
  body[header-collapsed] #profile-picture {
    transform: scale(0);
    width: 0px !important;
  }
  body[header-collapsed] #header-readouts {
    padding: 0;
  }
}
#footer-fade {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 120px;
  background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 70%, rgba(255, 255, 255, 0) 100%);
  /*border-radius: 35px 35px 0 0;*/
  z-index: 1022;
  pointer-events: none;
}
footer {
  height: 76px;
  padding: 18px 0px;
  margin: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: calc(100vw - 20px);
  background-color: var(--secondary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 28px;
  z-index: 1024;
  box-shadow: 0 0 10px 10px var(--bg);
}
#tutorial-text {
  max-width: 400px;
}
.footer-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  overflow: hidden;
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 60px;
  padding-top: 35px;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
}
.footer-item.active {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}
.footer-item.active .inactive-img,
.footer-item .active-img {
  opacity: 0;
}
.footer-item.active .active-img {
  opacity: 1;
}
.footer-item .inactive-img {
  position: relative;
  top: -100%;
}
#mascot-slot {
  width: 40px;
  height: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-tab-img {
  height: 35px;
  pointer-events: none;
  flex-shrink: 0;
}
@media (orientation: landscape), (min-width: 500px) {
  footer {
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%) translateX(-10px);
  }
}
@media (orientation: landscape), (min-width: 1000px) {
  footer {
    width: 100vw;
    transform: none;
    left: 0;
    margin: 0;
    max-width: unset;
    border-radius: 0;
    border-top: 3px solid var(--secondary-alt);
    background-color: var(--bg);
  }
}
#page-content {
  padding: 0;
}
#tab-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  transition: left 0.3s ease-in-out;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
#tab-container > .tab {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  top: 0;
  position: relative;
  scroll-snap-align: start;
}
#tab-content {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
.footer-space {
  height: 86px;
  flex-shrink: 0;
  width: 100%;
}
@media (min-width: 500px) {
  ::-webkit-scrollbar-track {
    opacity: 0 !important;
    background: var(--bg);
    display: none !important;
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--secondary-alt);
    border: solid 4px var(--bg);
  }
  ::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
  }
  ::-webkit-scrollbar-corner {
    opacity: 0;
    background: transparent;
  }
}
#tutorial-overlay {
  background-color: var(--overlay-bg);
  width: 100vw;
  height: 100vh;
  z-index: 1023;
  position: fixed;
  top: 0;
  left: 0;
}
body:not(.tutorial) #tutorial-overlay {
  display: none !important;
}
#tutorial-box {
  background-color: var(--bg);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  padding-bottom: 108px;
  display: flex;
  flex-flow: column;
}

#tutorial-overlay-zone {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#tutorial-title {
  color: var(--text-primary);
}
#tutorial-description {
  color: var(--text-secondary);
  font-size: 18px;
  margin-bottom: 20px;
}
#tutorial-arrow-container {
  max-width: 370px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

#tutorial-arrow {
  height: 25px;
  background-color: var(--secondary);
  width: calc((100%) / 3);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/icon/tutorial/arrow.png);
  mask-image: url(../img/icon/tutorial/arrow.svg);
  -webkit-mask-image: url(../img/icon/tutorial/arrow.png);
  -webkit-mask-image: url(../img/icon/tutorial/arrow.svg);
  background-size: contain;
  transition: transform 0.2s ease-in-out;
}
body[activetab="learn"] #tutorial-arrow {
  transform: none;
}
body[activetab="settings"] #tutorial-arrow {
  transform: translateX(100%);
}
body[activetab="announcements"] #tutorial-arrow {
  transform: translateX(200%);
}
#tutorial-action-container {
  height: 0px;
  width: 100%;
}
#tutorial-action {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
  --button-bg: var(--tutorial-action-bg);
  --button-border: var(--tutorial-action-border);
  color: white;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 21px;
  position: relative;
  transform: translateY(-100%);
}
body.tutorial[activeTab="announcements"] #tutorial-action {
  opacity: 1;
  pointer-events: all;
  transition: transform 0.05s ease-in-out, border-bottom-width 0.05s ease-in-out;
}
/*learn*/
#goal-progress {
  height: 45px;
  width: 100%;
  background-color: var(--bar-bg);
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  transition: margin 0.25s ease-in-out, height 0.25s ease-in-out, padding 0.25s ease-in-out;
}
#goal-text {
  color: var(--bar-text);
  font-size: 19px;
  font-weight: 700;
  margin-top: -11px;
  text-align: left;
  padding-left: 10px;
  line-height: 45px;
  transform-origin: center center;
  transition: opacity 0.25s ease-in-out, padding 0.25s ease-in-out, transform 0.25s ease-in-out, line-height 0.25s ease-in-out, height 0.25s ease-in-out;
}
#goal-text::before {
  content: attr(value);
}
#goal-text::after {
  content: attr(goal);
}
#learn-cards {
  display: flex;
  flex-flow: column nowrap;
}
#learn-cards > .card {
  border-radius: 14px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  color: var(--card-text);
}
.card * {
  pointer-events: none !important;
  user-select: none !important;
}
#study-card {
  background-image: var(--study-card-bg);
}
#learn-card {
  background-image: var(--learn-card-bg);
}

#create-card {
  background-image: var(--create-card-bg);
}
#find-card {
  background-image: var(--find-card-bg);
}
#educate-card {
  background-image: var(--educate-card-bg);
}
.card-description {
  opacity: 0.8;
  font-size: 16px;
  font-weight: 300;
}
/*placeholder*/
#mascot-slot {
  background-image: url(../img/mascot/mood=Waving.svg);
}

.section-title,
.switch-label,
#tutorial-title,
.card-title,
#retake-prior-button,
#class-dashboard-button,
#clear-sw-button,
#delete-acc-button {
  font-size: 24px;
  font-weight: 700;
}

.section-title {
  color: var(--text-primary);
  padding-left: 12px;
  padding-bottom: 7px;
}
.settings-section {
  margin-bottom: 30px;
}
#saves-section > *,
#pacing-section > * {
  pointer-events: none;
}
#pacing-section,
#saves-section {
  opacity: 0.5;
  user-select: none;
}
#delete-acc-button {
  --button-bg: var(--check-fill-incorrect);
  --button-border: var(--check-fill-incorrect-accent);
  --button-accent: var(--blue-button-accent);
}
#clear-sw-button,
#delete-acc-button {
  width: 100%;
}
#clear-sw-button,
#delete-acc-button,
#retake-prior-button,
#class-dashboard-button {
  line-height: 40px;
  padding: 0;
  font-family: "Next";
}
.footer-tab-img {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  height: 35px !important;
  width: 60px;
  mask-size: contain;
  background-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  background-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.inactive-img {
  background-color: var(--menu-accent);
}
.active-img {
  -webkit-mask: none !important;
  mask: none !important;
}
.footer-tab-img#book {
  background-image: url(../img/icon/tabs/book.png);
  background-image: url(../img/icon/tabs/book.svg);
}
.footer-tab-img#book-lined {
  mask-image: url(../img/icon/tabs/book-lined.png);
  mask-image: url(../img/icon/tabs/book-lined.svg);
  -webkit-mask-image: url(../img/icon/tabs/book-lined.png);
  -webkit-mask-image: url(../img/icon/tabs/book-lined.svg);
}
.footer-tab-img#settings {
  background-image: url(../img/icon/tabs/settings.png);
  background-image: url(../img/icon/tabs/settings.svg);
}
.footer-tab-img#settings-lined {
  mask-image: url(../img/icon/tabs/settings-lined.png);
  mask-image: url(../img/icon/tabs/settings-lined.svg);
  -webkit-mask-image: url(../img/icon/tabs/settings-lined.png);
  -webkit-mask-image: url(../img/icon/tabs/settings-lined.svg);
}
.footer-tab-img#announcements {
  background-image: url(../img/icon/tabs/bullhorn.png);
  background-image: url(../img/icon/tabs/bullhorn.svg);
}
.footer-tab-img#announcements-lined {
  mask-image: url(../img/icon/tabs/bullhorn-lined.png);
  mask-image: url(../img/icon/tabs/bullhorn-lined.svg);
  -webkit-mask-image: url(../img/icon/tabs/bullhorn-lined.png);
  -webkit-mask-image: url(../img/icon/tabs/bullhorn-lined.svg);
}
#learn-type-input {
  display: none;
}
.announcement-card {
  overflow: hidden;
  min-height: fit-content;
  flex-shrink: 0;
  margin-bottom: 16px;
  border: solid 2px var(--box-border);
  border-radius: 14px;
}
.announcement-card .card-lower,
.announcement-card {
  background-color: var(--bg);
}
.announcement-card .card-upper {
  margin-bottom: -28px;
  width: 100%;
  height: auto;
}
.announcement-card .card-lower {
  padding: 10px;
  /* background-color: var(--secondary); */
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-primary);
  font-weight: 400 !important;
}
.announcement-card a:-webkit-any-link,
.announcement-card a[href] {
  -webkit-link: #53b8f4;
  color: var(--announcement-link);
  text-decoration: none;
  font-weight: 500 !important;
}
.announcement-date {
  color: var(--secondary-alt);
  margin-bottom: 5px;
}
#announce-filler {
  height: 150px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#announce-filler * {
  height: 150px !important;
  width: 150px !important;
  transform: rotate(-15deg);
  opacity: 0.25;
}
#announcements-tab {
  display: flex;
  flex-flow: column;
}
#profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
@media (orientation: landscape), (min-width: 1000px) {
  footer {
    max-width: 500px;
    box-sizing: content-box;
    height: calc(76px - 18px - 15px);
    padding: 18px calc(50vw - 250px);
  }
}
#learn-card,
#learn-tab,
#learn-tab #tab-content,
#learn-start {
  overflow: visible;
}
.learn-card {
  transition: box-shadow 0.25s ease-in-out;
  cursor: pointer;
}
.learn-card:hover {
  box-shadow: 0px 0px 15px 0px var(--card-glow);
}
#create-card {
  --card-glow: #22bbd3aa;
}
#study-card {
  --card-glow: #af22d3aa;
}
#learn-card {
  --card-glow: #3950b8aa;
}
#find-card {
  --card-glow: #2da480aa;
}
#educate-card {
  --card-glow: #c93b66aa;
}
#header-readouts {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
#goal-progress {
  flex-basis: 200px;
  width: 200px;
  max-width: 700px;
  flex-shrink: 0;
  flex-grow: 1;
}
#goal-text {
  padding: 0 10px;
  white-space: nowrap;
}

#goal-fill {
  background-color: var(--bar-color);
  border-radius: 15px;
  box-sizing: border-box;
  height: 100%;
  flex-grow: 0;
  transition: width 0.5s ease-in-out;
  min-width: fit-content;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
#goal-fill-accent {
  background-color: var(--bar-accent);
  height: 6px;
  margin: 5px 16px 0 9px;
  border-radius: 5px;
}
#tutorial-box {
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
}
footer {
  box-shadow: none;
}
#profile-picture {
  z-index: 1000001;
}
#account-menu {
  display: flex;
  z-index: 1000000;
  position: absolute;
  box-sizing: border-box;
  top: 75px;
  margin-top: 5px;
  right: 10px;
  padding: 0;
  width: 300px;
  max-width: calc(100vw - 20px);
  background-color: var(--bg);
  --divet-bg: var(--bg);
  --divet-border: var(--box-border);
  flex-flow: column;
  flex-grow: 1;
  max-height: calc(100vh - 90px - 76px - 10px);
  transform-origin: calc(100% - 33px) -3px;
}
.menu-content {
  overflow-y: auto;
  z-index: 100000000;
  border-radius: 10px;
}
.menu-title {
  display: flex;
  padding: 10px;
  font-size: 20px;
  border-bottom: solid 2px var(--box-border);
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu-items {
  display: flex;
  flex-flow: column;
}
.menu-row,
.action-text {
  color: var(--action-color);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.menu-items .menu-row {
  border-top: solid 2px var(--box-border);
  padding: 10px 15px;
  justify-content: start;
  text-align: left;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-items .menu-row:first-child {
  border-top: none;
}
.delete-action {
  color: var(--error-border);
  font-size: 17px;
}
.divet {
  z-index: inherit;
  position: absolute;
  right: 25px;
  top: -8px;
  background-color: var(--divet-bg);
  border: solid 2px var(--divet-border);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  flex-grow: 0;
  box-sizing: border-box;
  pointer-events: none;
}
.divet::before {
  content: "-";
  font-size: 0;
  color: transparent;
  background-color: var(--divet-bg);
  position: inherit;
  width: 18px;
  height: 8px;
  z-index: 10;
  bottom: -2px;
  left: -2px;
}
.menu-row {
  border: none;
  background-color: var(--bg);
}
#version-number-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-right: 10px;
  border-radius: 10px;
  background: var(--secondary);
  padding: 10px 20px;
  color: var(--secondary-alt);
  height: 44px;
  box-sizing: border-box;
  user-select: none;
  pointer-events: none;
}
#update-box {
  flex-wrap: wrap;
  max-width: 100%;
}
#update-box * {
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 290px) {
  #version-number-box {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  #goal-progress {
    width: 50px;
    flex-basis: 50px;
    flex-shrink: 1;
  }
  body:not([header-collapsed]) #goal-fill,
  body:not([header-collapsed]) #goal-text {
    width: 100% !important;
    text-align: center;
    box-sizing: border-box;
  }
}
