.codebox-row,
.codebox-row * {
  cursor: pointer;
}
#title-text {
  margin-bottom: 20px;
}
#class-title,
#student-class-title {
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  color: var(--text-primary);
}
#lock-icon {
  height: 15px;
  width: 15px;
  background-color: var(--text-primary);
  margin-left: 7px;
  margin-bottom: 4px;
  flex-grow: 0 !important;
}
#class-preview-pane,
#student-class-pane {
  margin-bottom: 20px;
}
#class-description,
#student-class-description {
  font-size: 18px;
  color: var(--text-secondary);
  padding-left: 5px;
  margin-left: 5px;
  border-left: 2px solid var(--secondary-alt);
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
#invites-list,
#members-list {
  color: var(--text-secondary);
}
#invites-list {
  margin-bottom: 20px;
}
#invites-list .section-title {
  font-size: 20px;
}
.input-row > hr,
#invites-list > hr,
#members-list > hr {
  border: none;
  flex-shrink: 0;
  opacity: 0.5;
  background-color: var(--box-border);
  border-radius: 3px;
}
.input-row > hr {
  width: 3px;
  height: 70%;
  margin: 0 10px;
}
#invites-list > hr,
#members-list > hr {
  width: 70%;
  height: 3px;
  margin: 20px 15%;
}

.input-row > label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--box-border);
  width: 35%;
  min-width: 150px;
  flex-grow: 0;
  text-align: center;
}
.input-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  height: 45px;
  box-sizing: border-box;
  font-family: "Next", sans-serif !important;
  overflow: hidden;
  margin-bottom: 20px;
}
.input-row > label,
.input-row > input {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0 10px 10px 0;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border: none;
  background-color: var(--box-bg);
}
label[for="join-code"] > #lock-icon {
  height: 14px;
  width: 14px;
  flex-grow: 0;
  margin-left: 10px;
}
input[type="text"] {
  color: var(--text-primary);
}
input[disabled],
input::placeholder {
  color: var(--box-border);
}

#join-code,
#student-info-code {
  text-align: center;
  flex-grow: 1;
}

label[for="join-code"] ~ hr {
  margin-right: 0 !important;
}
.flex-row > div {
  flex-grow: 1;
}
/* #student-class-actions > .box-button {
  --button-accent: var(--blue-button-accent);
} */
#student-class-actions {
  box-sizing: border-box;
}
#student-class-actions .box-button {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 20px;
  flex-shrink: 1;
}
#student-join-class,
#student-leave-class {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  max-width: 100%;
}
#student-info-code-row {
  margin-bottom: 0;
  margin-top: 10px;
}
#student-class-code {
  flex-grow: 1;
}
#student-class-code[disabled] {
  overflow: hidden;
  box-sizing: border-box;
  pointer-events: none;
}
#members-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 30px 20px;
}
#members-list > hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
#page-content .fade-up,
#page-content .fade-down {
  height: 30px;
  z-index: 10000;
  position: relative;
  box-shadow: none;
}
#page-content .fade-up {
  margin-top: -30px;
}
#page-content .fade-down {
  margin-bottom: -30px;
}
.fade-up {
  background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 30%, rgba(255, 255, 255, 0) 100%);
}
.fade-down {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--bg) 30%, var(--bg) 100%);
}
@media (min-width: 500px) {
  ::-webkit-scrollbar-track {
    opacity: 0 !important;
    background: var(--bg);
    display: none !important;
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--secondary-alt);
    border: solid 4px var(--bg);
  }
  ::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
  }
  ::-webkit-scrollbar-corner {
    opacity: 0;
    background: transparent;
  }
}
#members-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.class-member {
  margin: 5px;
  width: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--secondary);
  background-image: url(../img/icon/pfp.webp);
  box-shadow: 0px 0px 0px var(--secondary);
  transition: box-shadow 0.25s ease-in-out;
  border-radius: 48px;
  border: solid 2px var(--box-border);
}
#more-members {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: var(--bg);
}
#class-preview-pane .class-member:not([title="[You]"]):hover,
#class-preview-pane .class-member:not([title="[You]"]):active {
  box-shadow: 0px 0px 10px var(--secondary-alt);
}
#student-join-code {
  flex-grow: 1;
}
.class-member-wrapper {
  margin-right: auto;
  flex-basis: 80%;
  flex-shrink: 1;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 5px 0;
}
.class-member-options {
  align-items: center;
  padding-bottom: 2px;
  flex-grow: 1;
  width: 20px;
}
.class-member-option {
  margin: 0 5px;
  flex-grow: 1;
  max-width: 100px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Next", sans-serif;
}
.class-member-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 30px;
  flex-grow: 1;
  padding: 0 10px;
}
