/** ANIMATION **/

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0 !important;
  }
  to {
    opacity: 0.5 !important;
  }
}

/** OTHER **/

* {
  -webkit-overflow-scrolling: touch !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: unset !important;
  -webkit-touch-callout: none !important; /* only applies to safari mobile */
  font-display: swap !important;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Next", sans-serif;
}
html {
  position: fixed;
}
body {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}

/** BOXES **/
.box,
.box-button {
  border: solid var(--box-border) 2px;
  border-bottom-width: 4px;
  padding: 10px;
  border-radius: 11px;
}

/** BUTTONS **/
button.box,
.box-button {
  background-color: var(--button-bg);
  border-color: var(--button-border);
  color: var(--button-accent);
  box-sizing: border-box;
  height: 44px;
  margin-top: 0;
  border-width: 2px 2px 4px 2px;
  cursor: pointer;
  transition: border-bottom-width 0.05s ease-in-out, height 0.05s ease-in-out, margin-bottom 0.05s ease-in-out;
}
button.box.tall,
.box-button.tall {
  height: 46px;
}
.box-button:not(.fullborder) {
  border-width: 0px 0px 4px 0px;
}

/* Animation */
.box-button:active {
  margin-top: 2px;
  border-width: 2px 2px 2px 2px;
  height: 42px;
}
.box-button.tall:active {
  height: 44px;
}
.box-button:not(.fullborder):active {
  margin-top: 4px;
  border-width: 0px 0px 0px 0px;
  height: 40px;
}
.box-button.tall:not(.fullborder):active {
  height: 42px;
}
.box-button.disabled,
.box-button[disabled] {
  pointer-events: none;
  border-width: 0px;
  margin-top: 4px;
  height: 40px;
}
.box-button.fullborder.disabled,
.box-button.fullborder[disabled] {
  border-width: 2px;
  margin-top: 2px;
}
/** UTIL **/

@media print {
  [noprint],
  [noprint] *,
  .toast {
    display: none !important;
  }
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
/* Page Load */

.loadcover {
  z-index: 100000000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  pointer-events: all;
  user-select: none;
  -webkit-touch-callout: none;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: center center;
  animation: load 1.75s infinite linear;
}
.loadcover.hide {
  animation: fadeout forwards 0.25s;
  pointer-events: none;
}
input.error {
  border-color: var(--error-border) !important;
  background-color: var(--error-bg) !important;
  opacity: 1 !important;
  color: var(--error-border) !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noborder {
  border: none !important;
}
.nobackground {
  background-color: rgba(255, 255, 255, 0) !important;
}

/** INTERACTION CONTROLS **/

[notouch] {
  pointer-events: none !important;
  user-select: none !important;
}
#back-button,
#mascot-slot,
input[type="button"],
[auth="logout-button"],
[onclick],
.box.option,
.box-button button {
  cursor: pointer;
  user-select: none;
}

*[onclick],
a[href],
*[form-action],
.box.option,
label[for],
.footer-item,
button {
  user-select: none;
}

/** HEADER **/

#title-text {
  color: var(--on-bg);
  font-family: "Next", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 26px;
}
header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  filter: drop-shadow(0px 0px 5px var(--bg));
}
.color-mask {
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.progress-button {
  height: 21px;
  width: 21.5px;
  border: none;
  padding: 0;
  background-color: var(--progress-back);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
#back-button {
  mask-image: url(../img/icon/back.png);
  mask-image: url(../img/icon/back.svg);
  -webkit-mask-image: url(../img/icon/back.png);
  -webkit-mask-image: url(../img/icon/back.svg);
}
#close-button {
  mask-image: url(../img/icon/close.png);
  mask-image: url(../img/icon/close.svg);
  -webkit-mask-image: url(../img/icon/close.png);
  -webkit-mask-image: url(../img/icon/close.svg);
  transform: scale(0.8);
}

/** PROGRESS BAR **/

#progress-bar {
  height: 15px;
  flex-grow: 1;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  margin-left: 20px;
  background-color: var(--progress-bar-bg);
}
#progress-fill {
  height: 100%;
  min-width: 32px;
  flex-grow: 0;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--progress-fill);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, width 0.25s ease-in-out;
}
#progress-fill-accent {
  background-color: var(--progress-fill-accent);
  height: 5px;
  margin: 0 2px 2px 1px;
  border-radius: 5px;
}

/** TEXT STYLES **/

.bold {
  font-family: "Next", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-primary);
}
.primary {
  font-family: "Next", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-primary);
}
.secondary {
  font-family: "Next", sans-serif;
  font-size: 16px;
  color: var(--text-secondary);
}
.uppercase {
  text-transform: uppercase;
}
.section-title,
.switch-label {
  font-size: 24px;
  font-weight: 700;
}

/** SETTINGS PANEL **/
.hidden-radio {
  width: 0;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0);
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0);
}
.switch-toggle {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: 6px;
}
.switch-label {
  line-height: 40px;
  flex-grow: 1;
  text-align: center;
  color: var(--switch-bg);
}
.switch-label {
  border-left: solid 1px var(--switch-bg);
  border-right: solid 1px var(--switch-bg);
}
.switch-label:first-of-type {
  border-left: none;
}
.switch-label:last-of-type {
  border-right: none;
}
input:checked + .switch-label {
  background-color: var(--switch-bg);
  color: var(--switch-selected);
  box-shadow: 0 0 0 2px var(--switch-bg);
}
.section-description {
  font-size: 16px;
  color: var(--text-secondary);
  margin-bottom: 7px;
}

/** TOAST **/

.toast {
  z-index: 100000001;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  width: calc(100% - 40px);
  font-size: 18px;
  font-family: "Next", sans-serif;
  display: flex;
  box-sizing: border-box;
  animation: slideIn 0.5s forwards;
  max-width: calc(500px - 32px - 40px);
}
.toast.boxed {
  background-color: var(--box-bg);
  border: solid 2px var(--box-border);
  color: var(--box-border);
  border-radius: 11px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.toast.default,
.toast.transparent {
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border-radius: 20px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Nunito", sans-serif !important;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}
.toast.transparent {
  background-color: var(--toast-bg-transparent);
}
.toast-icon {
  height: 25px;
  align-self: center;
  margin-right: 15px;
}
.toast-overlay,
.popup-overlay {
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  animation: fadeIn 0.25s forwards infinite;
}
@media (min-width: 500px) {
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .toast {
    margin: 20px;
    right: 0;
    width: calc(100% - 40px);
    transform: none;
    left: unset;
  }
}

/** POPUP **/
.popup {
  width: calc(100% - 40px);
  border-radius: 20px;
  z-index: 100000000;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border-color: var(--toast-border) !important;
  --check-button-blank: var(--toast-secondary);
  --check-button-blank-accent: var(--toast-border);
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 50%;
  left: 50%;
  max-width: 460px;
  transform: translateX(-20px) translateX(-50%) translateY(-50%);
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none !important;
  }
}
.blue-button,
.green-button,
.red-button {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
.blue-button {
  --button-bg: var(--blue-button-bg);
  --button-border: var(--blue-button-border);
  --button-accent: var(--blue-button-accent);
}
.green-button {
  --button-bg: var(--check-fill);
  --button-border: var(--check-fill-accent);
  --button-accent: var(--check-button-accent);
}
.red-button {
  --button-bg: var(--check-fill-incorrect);
  --button-border: var(--check-fill-incorrect-accent);
  --button-accent: var(--check-button-accent);
}
.blue-button.disabled,
.green-button.disabled,
.red-button.disabled,
.blue-button[disabled],
.green-button[disabled],
.red-button[disabled] {
  --button-bg: var(--check-button-blank) !important;
  --button-accent: var(--check-button-blank-accent) !important;
  --button-border: var(--check-button-blank-accent) !important;
}
.popup-button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-action {
  --button-bg: var(--check-button-blank);
  --button-border: var(--check-button-blank-accent);
  --button-accent: var(--check-button-blank-accent);
}
.popup-text {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
  opacity: 0.8;
  height: fit-content;
}
.popup-icon {
  margin-bottom: 10px;
  flex-grow: 0;
  justify-self: start;
  height: fit-content;
  height: 40px;
  width: 40px;
  display: none;
}
.popup-top-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
#popup-buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  font-weight: 700 !important;
}
#popup-buttons button {
  flex-grow: 1;
  margin: 5px;
  flex-basis: 25%;
}

.popup-button:active {
  margin-top: 9px !important;
  margin-bottom: 0px !important;
  height: 40px;
}
.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
.delete-user,
.delete-document {
  --button-bg: var(--check-fill-incorrect) !important;
  --button-border: var(--check-fill-incorrect-accent) !important;
  --button-accent: var(--blue-button-accent) !important;
  font-weight: bold;
}
.delete-text {
  color: var(--error-border) !important;
}

/** ANIMATION **/

/* Keyframes */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeZoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.25);
    pointer-events: none;
  }
}
@keyframes expandFromTop {
  from {
    transform: scale(0.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes collapseToTop {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.25);
    opacity: 0;
  }
}
/* Classes */
.collapsible:not(.collapsed) {
  animation: expandFromTop 0.15s ease-out forwards;
}
.collapsible.collapsed {
  animation: collapseToTop 0.15s ease-out forwards;
}
.fadein {
  animation: fadein 0.15s ease-out forwards !important;
}
.fadezoomin {
  animation: fadeZoomIn 0.15s ease-out forwards !important;
}
.fadeout {
  animation: fadeout 0.15s ease-out forwards !important;
  pointer-events: none !important;
}
.fadezoomout {
  animation: fadeZoomOut 0.15s ease-out forwards !important;
  pointer-events: none !important;
}

/** ACTIONS **/
#bottom-actions {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) translateX(-16px);
  margin: 30px calc(30px - 16px) !important;
  width: calc(100vw - 60px);
  max-width: calc(500px - 60px);

  /* new:
  margin: 16px !important;
  width: calc(100vw - 32px);
  max-width: calc(500px - 32px); */
  /*end new*/

  flex-grow: 0;
  z-index: 2048;
  display: flex;
  flex-flow: row;
  align-items: end;
}
#bottom-actions * {
  flex-basis: 40px;
}
#reload-icon,
#next-icon,
#prev-icon,
#save-icon,
#visibility-icon,
#lock-icon,
#list-icon,
#search-icon {
  background-color: var(--box-border);
  height: 100%;
  width: 100%;
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
#reload-icon {
  mask-image: url(../img/icon/reset-icon.png);
  mask-image: url(../img/icon/reset-icon.svg);
  -webkit-mask-image: url(../img/icon/reset-icon.png);
  -webkit-mask-image: url(../img/icon/reset-icon.svg);
}
#save-icon {
  mask-image: url(../img/icon/save-icon.png);
  mask-image: url(../img/icon/save-icon.svg);
  -webkit-mask-image: url(../img/icon/save-icon.png);
  -webkit-mask-image: url(../img/icon/save-icon.svg);
}

#prev-icon {
  mask-image: url(../img/icon/prev-icon.png);
  mask-image: url(../img/icon/prev-icon.svg);
  -webkit-mask-image: url(../img/icon/prev-icon.png);
  -webkit-mask-image: url(../img/icon/prev-icon.svg);
}

#next-icon {
  mask-image: url(../img/icon/next-icon.png);
  mask-image: url(../img/icon/next-icon.svg);
  -webkit-mask-image: url(../img/icon/next-icon.png);
  -webkit-mask-image: url(../img/icon/next-icon.svg);
}

#group-icon {
  mask-image: url(../img/icon/group-icon.png);
  mask-image: url(../img/icon/group-icon.svg);
  -webkit-mask-image: url(../img/icon/group-icon.png);
  -webkit-mask-image: url(../img/icon/group-icon.svg);
}
#list-icon {
  mask-image: url(../img/icon/list-icon.png);
  mask-image: url(../img/icon/list-icon.svg);
  -webkit-mask-image: url(../img/icon/list-icon.png);
  -webkit-mask-image: url(../img/icon/list-icon.svg);
}
#search-icon {
  mask-image: url(../img/icon/search-icon.png);
  mask-image: url(../img/icon/search-icon.svg);
  -webkit-mask-image: url(../img/icon/search-icon.png);
  -webkit-mask-image: url(../img/icon/search-icon.svg);
}
#visibility-icon {
  mask-image: url(../img/icon/eye-icon.png);
  mask-image: url(../img/icon/eye-icon.svg);
  -webkit-mask-image: url(../img/icon/eye-icon.png);
  -webkit-mask-image: url(../img/icon/eye-icon.svg);
}

#visibility-icon.alt {
  mask-image: url(../img/icon/eye-crossed-icon.png);
  mask-image: url(../img/icon/eye-crossed-icon.svg);
  -webkit-mask-image: url(../img/icon/eye-crossed-icon.png);
  -webkit-mask-image: url(../img/icon/eye-crossed-icon.svg);
}
#lock-icon {
  mask-image: url(../img/icon/lock-open-icon.png);
  mask-image: url(../img/icon/lock-open-icon.svg);
  -webkit-mask-image: url(../img/icon/lock-open-icon.png);
  -webkit-mask-image: url(../img/icon/lock-open-icon.svg);
}

#lock-icon.alt {
  mask-image: url(../img/icon/lock-closed-icon.png);
  mask-image: url(../img/icon/lock-closed-icon.svg);
  -webkit-mask-image: url(../img/icon/lock-closed-icon.png);
  -webkit-mask-image: url(../img/icon/lock-closed-icon.svg);
}
/** DECOR **/

#fade-bars {
  display: flex;
  position: fixed;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  flex-flow: column;
  justify-content: space-between;
  pointer-events: none !important;
  z-index: 1;
}
#fade-bars > div {
  width: 100%;
  flex-shrink: 0;
  height: 48px;
}
.fade-up {
  background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 70%, rgba(255, 255, 255, 0) 100%);

  box-shadow: 0px 2px 0px 2px var(--bg);
}
.fade-down {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, var(--bg) 30%, var(--bg) 100%);
  box-shadow: 0px -2px 0px 2px var(--bg);
}
.fade-up.tall {
  height: calc(47px + 30px - 16px + 30px) !important;
  background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 80%, rgba(255, 255, 255, 0) 100%);
}
@keyframes scaleMenuIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleMenuInCenter {
  0% {
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes menuOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes menuOutCenter {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
.context-menu {
  position: fixed;
  background: var(--cm-bg-transparent);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  z-index: 262144;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 10px #00000010;
  padding: 2px 4px;
  box-sizing: border-box;
  animation: scaleMenuIn 0.2s cubic-bezier(0, 0, 0.2, 1.48);
}

.context-menu .cm-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  color: var(--cm-text);
  border-radius: 3px;
  padding: 5px;
  margin: 2px 0;
  box-sizing: border-box;
  background-color: #00000000;
  transition: background-color 0.1s ease-out;
  overflow: hidden;
}
.context-menu .cm-item:hover {
  background: var(--cm-bg-hover);
}
.context-menu .cm-item > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.context-menu .cm-item > span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Next", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10px;
  flex-grow: 1;
}
.context-menu hr.cm-separator {
  background-color: var(--cm-accent-transparent);
  border: none;
  height: 2px;
}
.context-menu #cm-page-items,
.context-menu #cm-default-items {
  width: 100%;
  display: flex;
  flex-flow: column;
}

#cm-default-items {
  flex-grow: 1;
  justify-content: flex-end;
}
@keyframes fadeBlurIn {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}
.context-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 262143;
}
#cm-scrollable {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media (max-width: 500px) {
  .context-menu {
    width: 80%;
    height: 60%;
    max-width: 300px;
    max-height: 500px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: var(--cm-bg);
    justify-content: flex-end;
    transform-origin: center center;
    box-shadow: 0 0 15px var(--cm-shadow);
    animation: scaleMenuInCenter 0.3s cubic-bezier(0, 0, 0.05, 1.48) forwards;
    padding: 13px 15px 0px 15px;
  }
  #cm-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
  }
  .context-menu hr.cm-separator {
    background-color: var(--cm-accent);
    border-radius: 0px;
    width: 40%;
  }
  .context-menu .cm-item {
    height: 60px;
    padding: 20px;
    border-radius: 20px;
  }
  .context-menu .cm-item.active,
  .context-menu .cm-item:hover {
    background-color: var(--cm-secondary);
  }
  .context-menu .cm-item > span {
    font-weight: 300;
  }
  .context-menu img.cm-icon {
    margin-right: 20px;
  }
  .context-menu.close {
    animation: menuOutCenter 0.4s ease-in forwards;
    pointer-events: none;
  }
  .context-menu .cm-item > span {
    font-size: 18px;
  }
  .context-overlay {
    background: var(--overlay-bg);
    animation: fadeBlurIn 0.2s ease-out forwards;
  }
  .context-overlay.close {
    animation: fadeBlurIn 0.1s ease-out backwards;
  }
  #cm-default-items {
    padding-bottom: 13px;
  }
}

@media (min-width: 500px) {
  .context-menu {
    top: 0;
    left: 0;
    width: 300px;
    transform-origin: top left;
  }
  .context-menu.close {
    animation: menuOut 0.15s ease-in forwards;
    transform-origin: center;
    pointer-events: none;
  }
  .context-menu hr.cm-separator {
    width: calc(100% + 8px);
    margin-left: -4px !important;
    height: 2px;
    margin: 5px 0;
  }
  .context-menu .cm-button:not(:last-of-type) {
    margin-right: 10px;
  }
}

#cm-buttons {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: start;
  width: 100%;
  align-items: start;
}
.context-menu .cm-button {
  display: flex;
  flex-grow: 0;
  width: min-content;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.cm-button > .cm-icon {
  margin: 0 !important;
}
#wordreference-button {
  background-image: url(../img/icon/wordreference.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: #ffffff;
  --button-border: #5e58c6;
  margin-right: 10px;
  flex-shrink: 0;
  width: 42px;
}
#wordreference-button.disabled {
  opacity: 0.5;
}
