#reset-button {
  flex-grow: 0;
  box-sizing: border-box;
}

#next-button {
  flex-grow: 1;
  width: unset;
  flex-shrink: 1;
  margin-left: 10px;
}
#next-button::before {
  content: "Continue";
  padding: 0;
}
#page-content {
  max-width: calc(500px - 32px);
  position: absolute;
  overflow-y: auto;
  height: calc(100% - 32px);
  padding-top: 20px;
  width: calc(100% - 32px);
  /*
  padding-left: 16px;
  padding-right: 16px;
  */
  padding-bottom: calc(47px + 16px);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-top: 48px;
}
.section-title {
  color: var(--text-primary);
  padding-left: 12px;
  padding-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
}
.options-toggles {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--bg);
}

.options-toggles:empty {
  background-image: url(../img/load/part=loading-1-light.svg);
  min-height: 150px;
  background-size: 175px auto;
  animation: load 1.75s infinite linear;
}
.option-toggle {
  font-size: 20px;
  font-weight: 700;
  color: var(--button-border);
  flex-basis: fit-content;
  flex-grow: 1;
  margin: 5px !important;
  padding: 5px 10px !important;
  cursor: pointer;
  box-sizing: border-box;
  height: 40px !important;
}
.subject-toggle {
  flex-basis: fit-content;

  padding: 5px 15px !important;
  flex-shrink: 0;
}
.options-section {
  margin-bottom: 20px;
}
.option-toggle.active {
  color: var(--switch-selected);
  background-color: var(--button-border);
  border-bottom-width: 2px;
}
button.option-toggle:active {
  height: 38px !important;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
}
.switch-toggle {
  flex-grow: 1;
}
#score-toggles {
  flex-flow: column;
}
#score-toggles > div {
  margin: 5px;
}
#score-which label {
  flex-basis: 50%;
}
#reset-button * {
  pointer-events: none;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 16px;
  box-sizing: border-box;
}
body {
  padding: 0 !important;
}
