@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Righteous&family=Lato&family=Montserrat:wght@400;700&display=swap");
:root {
  --vite-bg: #414a51;
  --text-color: white;
  --text-shadow-color: #000000aa;
  --accent-text-color: white;
  --accent-text-color-transparent: #ffffff88;
  --keyboard-bg: #273238;
  --keyboard-faded: #9da5a8;
  --keyboard-faded-transparent: #9da5a844;
  --keyboard-accent: #6eaca7;
  --button-active: #6ab0c9bb;
  --button-active-alt: #7ac96abb;
  --keyboard-shadow: #182128;
  --keyboard-shadow-light: #ffffff22;
  --keyboard-active: white;
  --keyboard-separator: #3b464c;
  --keyboard-reset: #99240fda;
  --keyboard-button: #414a51;
  --keyboard-button-text: #bfc1c4;
  --keyboard-action: #6d0f99da;
  --correct-bg: #1b8629;
  --border-width: 0.3vh;
  --bar-size: calc(15vh + 5vw);
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);
}
.flex-center,
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--vite-bg);
  transition: background-color 0.5s ease-in-out;
}
body {
  display: flex;
  flex-flow: column;
}
#content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10%;
  box-sizing: border-box;
  flex-flow: column;
  flex-grow: 1;
}
#page-title {
  color: var(--keyboard-accent);
  position: absolute;
  font-size: 5vh;
  width: 100%;
  text-align: center;
  padding: 2vh 0;
  z-index: 100;
}
#carousel {
  width: 100%;
  height: var(--bar-size);
  justify-content: space-evenly !important;
}
.carousel-item {
  background-color: var(--keyboard-bg);
  width: var(--bar-size);
  height: var(--bar-size);
  margin: 0 auto;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  margin: 0;
  transform: none;
  transform-origin: center center;
  transition: margin 0.5s ease-in-out, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}
#carousel-desktop {
  margin-left: 0 !important;
}
#carousel-mobile {
  margin-right: 0 !important;
}
.carousel-item:hover {
  margin: 0 5vh;
  transform: scale(1.25);
}
.carousel-item {
  flex-direction: column;
  justify-content: flex-start;
}
.carousel-item * {
  pointer-events: none;
}
.carousel-item-label {
  user-select: none;
}
.carousel-item-img {
  height: 50%;
  margin-top: 25%;
  margin-bottom: 5%;
}
#about-icon {
  width: calc(50% - 1vh);
  height: calc(50% - 1vh);
  border: solid var(--keyboard-accent) 0.5vh;
  border-radius: 30%;
  color: var(--keyboard-accent);
  font-size: 4vh;
  font-weight: bold;
}
#desktop-icon,
#about-icon,
#mobile-icon, #new-icon {
  width: calc(50% - 1vh);
  height: calc(50% - 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mobile-icon-body {
  border: solid var(--keyboard-accent) 0.5vh;
  height: 100%;
  width: 50%;
  border-radius: calc(var(--bar-size) / 20);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
}
#mobile-icon-notch {
  border-radius: 0 0 0.25vh 0.25vh;
  width: 60%;
  height: 0.5vh;
  background-color: var(--keyboard-accent);
}
.desktop-icon-part {
  font-size: 4vh;
  font-weight: bold;
  color: var(--keyboard-accent);
}
#desktop-icon-top {
  width: 100%;
  height: 75%;
  border: solid var(--keyboard-accent) 0.5vh;
  border-radius: calc(var(--bar-size) / 15);
}
#desktop-icon-middle {
  width: 1.25vh;
  height: 15%;
  background: var(--keyboard-accent);
}
#desktop-icon-bottom {
  width: 50%;
  height: 0.75vh;
  border-radius: 20vh;
  background: var(--keyboard-accent);
}
#information-letter {
  transform: scale(2) !important;
}
@media (min-width: 90vh) {
  .carousel-item:hover {
    box-shadow: 0 0 2vh var(--keyboard-shadow-light);
  }
}
@media (max-width: 90vh) {
  #information-letter {
    transform: scale(1.5) !important;
  }
  #carousel {
    height: 100%;
    width: var(--bar-size);
    flex-direction: column !important;
    justify-content: space-evenly !important;
  }
  .carousel-item:hover {
    margin: 5vh 0;
    transform: scale(1.25);
  }
}
@media (max-width: 90vh) and (min-width: 70vh) {
  #carousel-desktop {
    margin-top: 0 !important;
  }
  #carousel-mobile {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 70vh) {
  #carousel {
    flex-direction: column-reverse !important;
  }
  .carousel-item {
    transform: scale(1.5);
  }
  .carousel-item:hover {
    transform: scale(2);
  }
  #carousel-desktop {
    margin-bottom: 0 !important;
  }
  #carousel-mobile {
    margin-top: 0 !important;
  }
  body {
    background: var(--keyboard-bg);
  }
}
a[href] {
  color: var(--accent-text-color) !important;
  text-decoration: none !important;
}
