:root {
  --text-color: black;
  --keyboard-bg: #e8eaed;
  --keyboard-accent: #1a73e8;
  --button-active: #1a73e87c;
  --keyboard-faded: #c4c5c8;
  --keyboard-faded-transparent: #5d5e5f44;
  --keyboard-shadow: #a9abad;
  --keyboard-active: #454647;
  --keyboard-separator: #c4c5c8;
  --keyboard-reset: #ff3d1bda;
  --keyboard-button: white;
  --keyboard-button-text: black;
  --theme-color: rgba(255, 255, 0, 0.514);
}
#theme-switch #switch-bar {
  width: 100%;
}
#switch-ball #theme-light-img {
  display: block !important;
}
#switch-ball #theme-dark-img {
  display: none !important;
}
