* {
  -webkit-overflow-scrolling: touch !important;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Next", sans-serif;
}
html {
  position: fixed;
}
body {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box,
button.box,
.box-button {
  border: solid var(--box-border) 2px;
  border-bottom-width: 4px !important;
  padding: 10px;
  border-radius: 11px;
}

button.box,
.box-button {
  background-color: var(--button-bg);
  border-color: var(--button-border);
  color: var(--button-accent);
  height: 44px;
}
.box.thick-border,
.box-button.thick-border {
  border-width: 4px !important;
  border-bottom-width: 8px !important;
}
.box-button:not(.fullborder) {
  border-width: 0px !important;
  border-bottom-width: 4px !important;
}

button.box:active,
.box-button:active {
  /*transform: translateY(2px);*/
  margin-bottom: 2px !important;
  border-bottom-width: 2px !important;
  height: 42px;
}
.box-button:active:not(.fullborder) {
  border-bottom-width: 0px !important;
}
#title-text {
  color: var(--on-bg);
  font-family: "Next", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-top: 26px;
}
header {
  position: relative;
  /*margin-top: 48px;*/
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  filter: drop-shadow(0px 0px 5px var(--bg));
}
.color-mask {
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.progress-button {
  height: 21px;
  width: 21.5px;
  border: none;
  padding: 0;
  background-color: var(--progress-back);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
#back-button {
  mask-image: url(../img/icon/back.png);
  mask-image: url(../img/icon/back.svg);
  -webkit-mask-image: url(../img/icon/back.png);
  -webkit-mask-image: url(../img/icon/back.svg);
}
#close-button {
  mask-image: url(../img/icon/close.png);
  mask-image: url(../img/icon/close.svg);
  -webkit-mask-image: url(../img/icon/close.png);
  -webkit-mask-image: url(../img/icon/close.svg);
  transform: scale(0.8);
}
#progress-bar {
  height: 15px;
  flex-grow: 1;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  margin-left: 20px;
  background-color: var(--progress-bar-bg);
}
#progress-fill {
  height: 100%;
  min-width: 32px;
  flex-grow: 0;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--progress-fill);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    width 0.25s ease-in-out;
}
#progress-fill-accent {
  background-color: var(--progress-fill-accent);
  height: 5px;
  margin: 0 2px 2px 1px;
  border-radius: 5px;
}
.bold {
  font-family: "Next", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-primary);
}
.primary {
  font-family: "Next", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-primary);
}
.secondary {
  font-family: "Next", sans-serif;
  font-size: 16px;
  color: var(--text-secondary);
}
*[onclick],
a[href],
*[form-action],
.box.option,
label[for],
.footer-item,
button {
  user-select: none;
}
.section-title,
.switch-label {
  font-size: 24px;
  font-weight: 700;
}
/*settings*/
.hidden-radio {
  width: 0;
  padding: 0;
  margin: 0;
}
.switch-toggle {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: 6px;
}
.switch-label {
  line-height: 40px;
  flex-grow: 1;
  text-align: center;
  color: var(--switch-bg);
}
.switch-label {
  border-left: solid 1px var(--switch-bg);
  border-right: solid 1px var(--switch-bg);
}
.switch-label:first-of-type {
  border-left: none;
}
.switch-label:last-of-type {
  border-right: none;
}
input:checked + .switch-label {
  background-color: var(--switch-bg);
  color: var(--switch-selected);
  box-shadow: 0 0 0 2px var(--switch-bg);
}
.section-description {
  font-size: 16px;
  color: var(--text-secondary);
  margin-bottom: 7px;
}
#back-button,
input[type="button"],
[auth="logout-button"],
[onclick], 
.box.option {
  cursor: pointer;
}

/* TOAST */
@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.toast {
  z-index: 100000000;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  width: calc(100% - 40px);
  font-size: 18px;
  font-family: "Next", sans-serif;
  display: flex;
  box-sizing: border-box;
  animation: slideIn 0.5s forwards;
  max-width: calc(500px - 32px - 40px);
}
.toast.boxed {
  background-color: var(--box-bg);
  border: solid 2px var(--box-border);
  color: var(--box-border);
  border-radius: 11px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.toast.default,.toast.transparent {
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border-radius: 20px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Nunito", sans-serif !important;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}
.toast.transparent {
  
  background-color: var(--toast-bg-transparent);
}
.toast-icon {
  height: 25px;
  align-self: center;
  margin-right: 15px;
}
.toast-overlay {
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  animation: fadeIn 0.25s forwards;
}
@media (min-width: 500px) {
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .toast {
    margin: 20px;
    right: 0;
    width: calc(100% - 40px);
    transform: none;
    left: unset;
  }
}
input.error {
  border-color: var(--error-border) !important;
  background-color: var(--error-bg) !important;
  opacity: 1 !important;
  color: var(--error-border) !important;
}

