body * {
  font-family: "Next", sans-serif !important;
}
#create-button {
  margin-right: 10px;
  flex-grow: 1;
}

@keyframes expandBar {
  0% {
    width: 52px;
  }
  100% {
    width: 65%;
  }
}
#progress-fill {
  animation: 1s ease-out 0s 1 forwards expandBar;
}
.input-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 10px;
  padding: 0px;
  height: 45px;
  box-sizing: border-box;
  font-family: "Next", sans-serif !important;
  overflow: hidden;
}
.input-row > label,
.input-row > input {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0 10px 10px 0;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border: none;
  background-color: var(--box-bg);
}
.input-row > hr {
  width: 3px;
  margin: 0 10px;
  border-radius: 3px;
  height: 70%;
  background-color: var(--box-border);
  opacity: 0.5;
  border: none;
  flex-shrink: 0;
}
.input-row > label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--box-border);
  width: 35%;
  min-width: 150px;
  flex-grow: 0;
  text-align: center;
}
#page-content {
  padding-top: 20px;
}
label[for="join-code"] > #lock-icon {
  height: 14px;
  width: 14px;
  flex-grow: 0;
  margin-left: 10px;
}
#join-code {
  text-align: center;
  flex-grow: 1;
}
input[type="text"] {
  color: var(--text-primary);
  flex-grow: 1;
}
input[disabled],
input::placeholder {
  color: var(--box-border);
}
#invites {
  color: var(--text-secondary);
}
#invites-title {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
hr.separator {
  width: 70%;
  height: 3px;
  border: none;
  border-radius: 3px;
  background-color: var(--box-border);
  opacity: 0.5;
  margin: 15px auto;
}
#invites-add {
  display: flex;
  flex-flow: row nowrap;
  height: 44px;
  align-items: end;
}
#invites-add > input {
  font-size: 18px !important;
}
#invites-add > input[type="email"] {
  margin-right: 10px;
  flex-basis: 30px;
  flex-grow: 3;
  color: var(--text-primary);
  border: none;
  background-color: var(--secondary);
  height: 40px;
  box-sizing: border-box;
}
#invites-add > input[type="submit"] {
  flex-grow: 1;
}
#invites-list {
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
#invites-list > li {
  font-size: 18px;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-type: "\2022\0020";
  user-select: none;
  cursor: pointer;
}
#invites-list > li:hover {
  font-size: 18px;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-type: "-\0020";
  color: var(--error-border);
}
#class-description {
  border: none;
  background-color: var(--bg);
  color: var(--text-primary);
  font-size: 16px;
  height: fit-content;
  resize: none;
  white-space: wrap;
  padding: 10px;
  flex-grow: 0;
  width: 30px;
  flex-grow: 1;
  color: var(--text-primary);
  opacity: 0.75;
}
#description-row {
  min-height: 45px;
  height: fit-content;
  align-items: stretch;
}
#description-row > hr {
  margin: 6px 10px;
  height: unset;
}
.codebox-row,
.codebox-row * {
  cursor: pointer;
}
