#page-content {
  overflow-x: hidden;
  overflow-y: auto;
}
#tree-container {
  height: fit-content;
  display: flex;
  flex-flow: column;
}
.tree-row {
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tree-item {
  margin: 12.5px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/learn/tree/im.svg);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;
}
.tree-item[badged]::after {
  content: "!";
  position: relative;
  bottom: -5px;
  right: -5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  /* color: var(--badge-accent); */
  background-color: #3db1d6;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  cursor: help;
}
.expand-down {
  animation: expandDown 0.25s ease-out forwards;
}
@keyframes expandDown {
  from {
    transform-origin: center top;
    transform: translateX(-50%) scale(0.25);
    opacity: 0;
  }
  to {
    transform-origin: center top;
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
#learn-popup {
  position: fixed;
  background-color: var(--bg);
  z-index: 9999;
  font-size: 20px;
  padding: 5px 10px;
  color: var(--secondary-alt);
  margin-top: 10px;
  min-width: 300px;
}
