:root {
  --badge-color: #3db1d6;
}
#page-content {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  max-height: 100vh;
  transition: padding-bottom 0.25s ease-in-out;
}
#tree-container {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  height: fit-content;
}
.tree-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 100%;
  pointer-events: none;
}
.tree-item {
  margin: 12px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/learn/tree/im.svg);
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: end;
  align-items: end;
  flex-shrink: 0;
  z-index: 1;
  pointer-events: all;
}
@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.tree-item[badged]::after {
  content: "!";
  position: relative;
  bottom: -5px;
  right: -5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  /* color: var(--badge-accent); */
  background-color: var(--badge-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  cursor: help;
  transform-origin: center center;
  animation: scaleIn 0.25s 0.1s ease-in-out;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out !important;
}
.tree-item[badged][info]::after {
  transform: scale(0) !important;
  opacity: 0;
  transition: transform 0.1s ease-in-out;
}
#learn-popup-message::before {
  content: "!";
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  /* color: var(--badge-accent); */
  background-color: var(--badge-color);
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
}
.expand-down {
  animation: expandDown 0.25s ease-out forwards;
}
.collapse {
  animation: collapseUp 0.15s ease-in forwards !important;
}
@keyframes expandDown {
  from {
    transform-origin: center top;
    transform: translateX(-50%) scale(0.25);
    opacity: 0;
  }
  to {
    transform-origin: center top;
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes collapseUp {
  from {
    transform-origin: center top;
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  to {
    transform-origin: center top;
    transform: translateX(-50%) scale(0.25);
    opacity: 0;
  }
}
#learn-popup-container {
  top: 0;
  height: 0px;
  width: 0px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: flex-start;
}
#learn-popup {
  position: relative;
  background-color: var(--bg);
  font-size: 20px;
  padding: 5px 10px;
  color: var(--secondary-alt);
  margin-top: 10px;
  width: 300px;
  max-width: 75vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: left;
  flex-flow: column;
  padding: 10px;
  z-index: 10;
}
#tense-name {
  margin-bottom: 5px;
}
#tense-def {
  margin-bottom: 10px;
  /* text-transform: lowercase; */
}
#learn-popup > * {
  width: 100%;
}
#learn-popup-action {
  width: 100%;
  font-size: 18px;
  height: 44px;
  font-weight: bold;
  --button-bg: var(--prior-button-bg);
  --button-border: var(--prior-button-border);
  --button-accent: var(--prior-button-accent);
}
#learn-popup-action:active {
  margin-top: 4px !important;
  height: 40px;
  margin-bottom: 0px !important;
}
#learn-popup-message-separator {
  margin-top: 10px;
  border-top: solid 2px var(--secondary);
  width: 60%;
}
#learn-popup-message {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
  width: 100%;
  align-items: center;
}
@media (min-width: 501px) {
  #page-content::-webkit-scrollbar {
    display: none;
  }
}
