body,
html {
  width: 100%;
  font-family: "Next", sans-serif !important;
  font-size: 24px;
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-flow: column;
}

*:not(.other-font) {
  font-family: "Next";
}
#question-content {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-bottom: 107px;
  justify-content: space-between;
}
#vite-q-prompt {
  height: fit-content;
  flex-grow: 0;
  margin-bottom: 45px;
  margin-block-start: unset !important;
}
#vite-q-tense:before {
  text-transform: none;
}
#vite-q-tense {
  text-transform: capitalize;
}
#info-button {
  --button-border: var(--info-button-border);
  --button-bg: var(--info-button-bg);
  border-bottom-width: 2px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  box-sizing: content-box;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  font-family: serif !important;
  font-family: monospace !important;
  margin-right: 15px;
}
#info-button:active {
  transform: translateY(2px);
  margin-top: 2px !important;
}
#next-button {
  text-transform: uppercase;
  --button-border: var(--check-fill-accent);
  --button-bg: var(--check-fill);
  color: var(--check-button-accent);
  text-align: center;
  height: 43px;
  width: calc(100% - 20px);
  margin: 10px 10px 0 10px !important;
  padding: 0;
  flex-shrink: 0;
  font-size: 20px;
  transition: border-bottom-width 0.05s ease-in-out;
  user-select: none;
  z-index: 1000;
}
body:not([showanswer]) #next-button:not(.avaliable) {
  --button-bg: var(--check-button-blank);
  color: var(--check-button-blank-accent);
  border-bottom-width: 0px !important;
  border-bottom-color: transparent !important;
}
#question-data {
  display: flex;
  flex-flow: row nowrap;
}
#answer-input {
  resize: none;
  width: calc(100% - 20px);
  margin: 0 10px;
  box-sizing: border-box;
  font-size: 24px;
  height: calc(100vmin / 3);
  color: var(--answer-content);
  background-color: var(--bg);
}
#answer-input::placeholder {
  color: var(--answer-placeholder) !important;
}
#answer-area {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
}
#answer-mascot {
  flex-grow: 0;
  height: 70px;
  align-self: start;
  margin-left: 40px;
}
#answer-mascot[src^="../../img/mascot/full="] {
  height: 150px;
  width: auto;
}
#vite-q-subject,
#vite-q-verb {
  color: var(--text-primary);
}
#vite-q-subject,
#vite-q-verb,
#vite-q-tense {
  text-decoration: underline dotted var(--progress-back) 3px;
  cursor: pointer;
  text-transform: capitalize;
}
#vite-q-bridge,
#vite-q-prefix {
  color: var(--text-primary);
}
#vite-q-bridge::before,
#vite-q-bridge::after {
  content: "\00a0";
}
/*for extended keyboard*/
@media (min-device-height: 140vh) and (max-device-width: 768px) {
  #next-button,
  #skip-button {
    display: none !important;
  }
  #answer-input {
    max-height: calc(24px + 20px + 20px);
  }
  #answer-area {
    margin-top: 20px;
  }
  body[showanswer] #next-button {
    display: flex !important;
  }
  #answer-mascot[src^="../../img/mascot/full="] {
    height: 70px;
    width: auto;
  }
}
#test {
  height: calc((16px + 21px + 40px + 112px + 70px + 16px));
  position: fixed;
  top: 0;
  background-color: green;
  z-index: 10000;
  width: 100vw;
  left: 0;
  opacity: 0.25;
  pointer-events: none;
}

#result-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  justify-content: end;
  padding: 20px 20px 30px 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 500px;
  transform: translateX(-50%);
}
@media (min-width: 500px) {
  #result-bg {
    border-radius: 30px 30px 0 0;
  }
}
#answer-top-bar {
  display: flex;
  flex-flow: row nowrap;
}
#answer-top-bar > *,
#answer-correction-bar > * {
  color: var(--check-fill-accent);
}
#answer-correction-bar {
  font-size: 20px;
}
@keyframes popUp {
  0% {
    transform: translateY(159px);
  }
  100% {
    transform: none;
  }
}

body:not([showanswer]) #answer-top-bar {
  display: none;
}
body[showanswer] #result-container {
  height: fit-content;
}
body[showanswer] #result-container > #learn-popup:not(#next-button) {
  animation: popUp 0.5s forwards;
}
#result-bg {
  height: 159px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  left: 0;
}
#next-button::before {
  content: "Check";
}
body[showanswer] #next-button::before {
  content: "Continue";
}
body[showanswer][result="correct"] #answer-result::before {
  content: "Correct!";
}
body[showanswer][result="correct"] #answer-result::before {
  content: "Correct!";
}
body[showanswer][result="incorrect"] #answer-result::before {
  content: "Not Quite";
}
body[showanswer][result="skipped"] #answer-result::before {
  content: "Take a guess?";
}
#answer-correction-bar {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}
#answer-correction-bar::-webkit-scrollbar {
  display: none;
}
body[showanswer][result="incorrect"] {
  --check-fill: var(--check-fill-incorrect);
  --check-fill-accent: var(--check-fill-incorrect-accent);
}
body[showanswer][result="skipped"] {
  --check-fill: var(--check-fill-skipped);
  --check-fill-accent: var(--check-fill-skipped-accent);
}
body[result="correct"] #answer-correction-bar,
body:not([showanswer]) #answer-correction-bar {
  color: transparent;
  visibility: hidden;
}

body[showanswer] #result-bg {
  background-color: var(--secondary);
}
body[showanswer][result="correct"] #result-bg {
  background-color: var(--result-correct-bg);
}
body[showanswer][result="incorrect"] #result-bg {
  background-color: var(--result-incorrect-bg);
}
.bridge-word {
  opacity: 0.75;
  filter: saturate(0.5);
}
body[showanswer] #answer-input {
  pointer-events: none;
}
#info-popup {
  opacity: 1;
  display: flex;
  position: fixed;
  margin-left: -5px;
  font-size: 20px;
  padding: 5px 10px;
  color: var(--secondary-alt);
  background-color: var(--bg);
  top: 0;
  left: 0;
  z-index: 10001;
  transition: opacity 0.1s ease-in-out;
}
body:not([info]) #info-popup {
  opacity: 0;
  pointer-events: none;
}
.infinite {
  --progress-fill: var(--infinite);
  --progress-fill-accent: var(--infinite-accent);
}
form[name="practice-results"] {
  display: flex;
  flex-flow: row nowrap;
}
form[name="practice-results"] > * {
  display: none;
}
header.infinite #back-button {
  display: block;
  transform: scaleX(-1);
  margin-left: 20px;
}
#skip-button {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--check-button-blank);
  font-weight: 700;
  margin-bottom: 4px;
  user-select: none;
  cursor: pointer;
}
body[showanswer] #skip-button,
body[avaliable] #skip-button {
  display: none;
}
