html,
body {
  background-color: var(--bg);
}
body {
  display: flex;
  flex-flow: column;
  transition: overflow-y 0.25s ease-out;
}
header {
  background-color: var(--bg);
  height: 75px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0;
  justify-content: start;
  position: sticky;
  top: 0;
  pointer-events: none;
  user-select: none;
}
#horizontal-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 200vw;
  flex-shrink: 0;
  height: fit-content;
  transition: 0.25s left ease-in-out;
  left: 0;
}
#print-button-container {
  left: 100vw;
  transition: 0.25s left ease-in-out;
}
body.right {
  overflow-y: hidden;
  transition: none;
}
body.right #horizontal-container {
  left: -100vw;
  transition: none;
}
body.right .bottom-container {
  transition: 0.25s left ease-in-out;
}
body.right .bottom-container {
  left: -100vw;
}
body.right #print-button-container {
  left: 0;
}
#horizontal-container > div:not(.bottom-container) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100vw;
}
body.right #print-button-container {
  display: flex !important;
  animation: fadeIn forwards 0.5s;
}
.secondary-underline {
  border-bottom: solid 2px var(--secondary);
}
#sheetify-logo {
  transform: scale(0.75);
}
.accented {
  color: #3cadc6;
}
#sheetify-title {
  font-size: 35px;
  font-family: "Feather", "Next", sans-serif;
  margin-left: 10px;
}
#sheetify-content,
#sheetify-print {
  padding: 30px 30px;
  display: flex;
  box-sizing: border-box;
}
#sheetify-content {
  flex-flow: row nowrap;
}
#sheetify-print {
  flex-flow: column;
}
#results-container {
  width: 100%;
  min-height: 100%;
}
#results-header {
  font-size: 26px;
  width: 100%;
  padding-bottom: 20px;
}
#results-filters {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 20px;
}
#results-grid {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: stretch;
}
#results-grid > * {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  width: auto;
  width: calc(50% - 20px);
  height: auto;
  flex-grow: 1;
  margin: 10px;
  box-sizing: border-box;
}
#options-overlay {
  background-color: #000000aa;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
#filter-options {
  display: flex;
  flex-flow: column;
}
.options-item {
  margin: 8px auto;
  width: 100%;
}
select.options-item {
  border-radius: 10px;
  height: 55px;
  box-sizing: border-box;
  border: solid 2px var(--dropdown-border) !important;
  border-bottom-width: 4px !important;
  color: var(--dropdown-items) !important;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  padding-left: 48px;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  background-color: var(--button-bg);
  max-width: 400px;
}
div.toggle-box,
div.max-width-box,
select.options-item {
  max-width: 400px;
  margin: 8px auto;
  box-sizing: border-box;
}
.orientation-select {
  background-image: url(../img/template/rotation-icon.svg);
  background-position: 20px center;
}
.tense-select {
  background-image: url(../img/template/clocks-icon.svg);
  background-position: 12px center;
}
.verbs-select {
  background-image: url(../img/template/verb-icon.svg);
  background-position: 12px center;
}
#open-saved {
  color: var(--button-accent);
  margin-top: 8px;
  height: 44px;
  box-sizing: border-box;
  margin-bottom: 0px !important;
}
#open-saved:active {
  margin-top: 12px;
  height: 40px;
}
#filter-options {
  white-space: nowrap;
}
#options-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 8px;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 499.9px) {
  body {
    overflow-y: auto;
  }
  #sheetify-content {
    padding-bottom: 84px;
  }
  #filter-options {
    border-radius: 20px;
    background-color: var(--bg);
    box-sizing: border-box;
    z-index: 10001;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    max-width: 90vw;
  }
  #options-overlay {
    display: block;
  }
  #filter-options,
  #options-overlay {
    display: none;
    transform-origin: center center;
  }
  #filter-options.active {
    display: flex;
    animation: zoomIn 0.25s ease-in-out forwards;
  }
  #filter-options.active ~ #options-overlay {
    display: flex;
    animation: fadeIn 0.25s ease-in-out forwards;
  }
}
.bottom-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  align-items: end;
  justify-content: center;
}
#sheetify-print {
  overflow-y: auto !important;
}
@media (min-width: 500px) {
  #print-button-container {
    max-width: 400px;
    right: 0 !important;
    left: unset !important;
  }
  body {
    overflow-y: auto;
  }
  #sheetify-content,
  #sheetify-print {
    max-height: calc(100vh - 102px);
    flex-grow: 1;
    flex-basis: 20px;
  }
  #results-scrollable {
    overflow-y: auto;
  }
  #results-container {
    margin-top: 40px;
  }
  .bottom-container {
    display: none;
  }
  header,
  #sheetify-content,
  #sheetify-print {
    padding: 50px 135px;
  }
  #sheetify-content,
  #sheetify-print {
    flex-flow: column;
  }
  #sheetify-logo {
    transform: scale(0.9);
  }
}
@media (min-width: 700px) {
  body {
    overflow-y: hidden;
  }
  #sheetify-content {
    max-height: calc(100vh - 102px + 50px);
  }
  #results-scrollable {
    overflow-y: auto;
    max-height: calc(100% - 53px);
  }
  #results-container {
    margin-top: 0px;
  }
  #sheetify-content {
    flex-flow: row nowrap;
  }
  #filter-options {
    min-width: 230px;
    margin-right: 60px;
  }
  #results-grid * {
    flex-basis: 170px;
    max-width: 250px;
  }
}

#open-saved,
#settings-button,
#print-button {
  --button-bg: var(--prior-button-bg);
  --button-border: var(--prior-button-border);
  --button-accent: var(--prior-button-accent);
}
#answers-button {
  --button-bg: var(--check-fill-incorrect);
  --button-border: var(--check-fill-incorrect-accent);
  --button-accent: var(--prior-button-accent);
}
#settings-button,
#print-button,
#answers-button {
  height: 44px !important;
  box-sizing: border-box;
  width: 100%;
  color: var(--button-accent);
  margin: 0px !important;
}
#settings-button:active,
#settings-button.active,
#print-button:active,
#print-button.active {
  border-bottom: none !important;
  margin-top: 4px !important;
  height: 40px !important;
}
#reset-filters {
  user-select: none;
  cursor: pointer;
}
#results-grid > *,
button:not(.disabled),
select {
  cursor: pointer;
  user-select: none;
}
#template-print {
  background-color: white;
  visibility: hidden;
  height: 0;
  width: 0;
}
@media print {
  #template-print {
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg);
    box-sizing: border-box;
    padding: 0px;
  }
}
.fill-width {
  width: 100%;
}

#settings-button.active,
#print-button.active,
button.disabled button[disabled],
#print-button.disabled,
#answers-button.disabled {
  --button-bg: var(--check-button-blank) !important;
  border-bottom: none !important;
  margin-top: 4px !important;
  height: 40px !important;
  --button-accent: var(--check-button-blank-accent) !important;
}
