:root {
  --bg: #1d55a8;
  --box-bg: #1d55a8;
  --button-bg: #1d55a8;
  --button-border: #14386e;
  --on-bg: #ffffff;
  --progress-bar-bg: #2e8cc0;
  --progress-back: #2e8cc0;
  --progress-fill: #54c02e;
  --progress-fill-accent: #35bb13;
  --input: #9d9d9d;
}
body * {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
@keyframes earthIn {
  0% {
    transform: translateX(100%) translateY(100%) scale(0.25);
  }
  100% {
    transform: translateX(40%) translateY(15%) rotate(6deg);
  }
}
@keyframes earthSpin {
  0% {
    transform: translateX(40%) translateY(15%) rotate(6deg);
  }
  100% {
    transform: translateX(40%) translateY(15%) rotate(366deg);
  }
}
#earth-illustration {
  position: fixed;
  width: 130vw;
  height: 130vw;
  bottom: 0;
  right: 0;
  animation: 1s ease-out 0s 1 forwards earthIn, earthSpin 60s 1s normal infinite;
}
.login-skip {
  position: relative;
  z-index: 10;
  border-color: var(--button-border);
  border-radius: 11px;
  font-family: "Next", sans-serif;
  position: relative;
  line-height: 24px;
  height: 50px;
  font-size: 24px;
  width: 100%;
}
.login-margin {
  margin-top: 28px !important;
}
#signup-box,
#verification-box {
  border-radius: 15px;
  padding: 20px;
  margin-top: 35px;
  background-color: white;
  padding-top: 35px;
  z-index: 10;
  position: relative;
  box-sizing: border-box;
}
#signup-box label {
  font-family: "Next", sans-serif;
  color: var(--input);
  margin-top: 26px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
#signup-box input,
#verification-box input {
  border: solid var(--input);
  border-radius: 5px;
  color: var(--input);
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  font-family: "Next", sans-serif;
  padding: 0 12px;
  font-size: 20px;
}
#verification-box input[type="button"] {
  color: white;
  border-color: var(--button-border);
  border-radius: 11px;
}
#signup-box input[type="submit"].box-button:active,
#verification-box input[type="button"]:active,
#edu-back:active,
#extended-options > *:active {
  height: 48px;
  margin-bottom: 0 !important;
  margin-top: 2px;
}
#signup-box input[type="date"] {
  text-align: center;
}
#signup-box input:not(:last-child) {
  margin-bottom: 25px;
}
#signup-box input:not(:active):not(:focus) {
  opacity: 0.5;
}
#signup-box input[type="submit"] {
  color: white;
  opacity: 1 !important;
  border-radius: 11px;
}
#signup-box input[type="submit"]:first-of-type {
  background-color: #57dd35;
  border-color: #35bb13;
}
#oauth-login,
#facebook-login,
#twitter-login,
#github-login {
  background-color: #ffffff;
  border-color: #1d1d1d;
  background-repeat: no-repeat;
  width: 48px;
  height: 50px;
  color: #1d1d1d;
  line-height: 50px;
  padding: 0;
}
#oauth-login {
  background-color: white;
  background-image: url(../img/icon/google.png);
  background-position: 10px center;
  background-size: 30px;
  flex-grow: 1;
}
#twitter-login,
#facebook-login,
#github-login {
  background-size: contain;
  width: 48px;
  background-position: center center;
}
#oauth-login,
#twitter-login,
#facebook-login,
#github-login {
  margin-left: 5px;
  margin-right: 5px;
}
#provider-login {
  margin-left: -5px;
  margin-right: -5px;
}
#github-login {
  background-color: white;
  background-image: url(../img/icon/github-inverted.svg);
}
#facebook-login {
  background-color: #3b579d;
  background-image: url(../img/icon/facebook.png);
  border-color: #14386e;
}
#twitter-login {
  background-color: #1da1f2;
  background-image: url(../img/icon/twitter.png);
  border-color: #1574af;
}
#oauth-login {
  padding-left: 46px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#oauth-login:active,
#facebook-login:active,
#github-login:active,
#twitter-login:active {
  height: 48px;
  margin-top: 2px;
  margin-bottom: 0 !important;
}
@media (orientation: landscape) {
  @keyframes earthIn {
    0% {
      transform: translateX(100%) translateY(100%) scale(0.25);
    }
    100% {
      transform: translateX(40%) translateY(15%) rotate(6deg);
    }
  }
  @keyframes earthSpin {
    0% {
      transform: translateX(40%) translateY(15%) rotate(6deg);
    }
    100% {
      transform: translateX(40%) translateY(15%) rotate(366deg);
    }
  }
}
@media (min-width: 75vh) {
  #earth-illustration {
    position: fixed;
    width: 75vh;
    height: 75vh;
    max-width: 700px;
    max-height: 700px;
    z-index: 10;
  }
}
#bg-stars {
  z-index: -1;
}
#earth-illustration {
  z-index: 4;
}
#auth-box {
  display: flex;
  flex-flow: row nowrap;
  min-width: 200%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}
#auth-box.second {
  left: -100%;
}
#auth-box > * {
  width: 50%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: relative;
  z-index: 10;
}
#auth-box > .inactive {
  transform: scale(0.5);
  transform-origin: center center;
  opacity: 0;
}
#verification-box {
  background-color: var(--on-bg);
  height: fit-content;
}
input[type="button"]#change-email {
  background-color: var(--on-bg);
  color: var(--box-border);
  border-color: var(--box-border);
  flex-grow: 1;
  border-width: 2px !important;
  border-bottom-width: 4px !important;
  margin-right: 10px;
  flex-basis: fit-content;
  white-space: nowrap;
}
input[type="button"]#change-email:active {
  border-bottom-width: 2px !important;
}
#send-verification {
  flex-grow: 5;
}
#submit-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
}
#verification-email {
  background-color: var(--box-border);
  margin-bottom: 20px;
  font-size: 20px;
  user-select: none;
  pointer-events: none;
}
#extended-options {
  display: flex;
  flex-flow: row nowrap;
}
#extended-options > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#school-login {
  width: 48px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 40px;
  padding-right: 0px;
  box-sizing: border-box;
  margin-left: 10px;
  background-image: url(../img/icon/group-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: padding-left 0.5s 0s ease-out, padding-right 0.5s 0s ease-out,
    width 0.5s 0s ease-out, color 0.5s 0s ease-in-out;
  color: transparent;
}
#school-login:hover {
  color: white;
  padding-left: 50px;
  padding-right: 10px;
  width: 11em;
  transition: padding-left 0.5s 1s ease-out, padding-right 0.5s 1s ease-out,
    width 0.5s 1s ease-out, color 0.5s 1s ease-in-out;
}
#education-options {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}
#edu-back {
  background-image: url(../img/icon/back.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 50px;
  box-sizing: border-box;
  margin-right: 10px;
}
#join-code {
  font-size: 20px;
  font-weight: 500;
  font-family: "Next", sans-serif;
  color: var(--text-secondary);
  text-transform: uppercase;
}
#join-code::placeholder {
  color: var(--box-border);
  font-weight: 400;
  text-transform: none;
}
#join-code::before {
  content: "Class Code: " !important;
  color: var(--box-border);
}
#join-code {
  height: 50px;
  box-sizing: border-box;
  flex-grow: 1;
  pointer-events: none;
  user-select: none;
  /*
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  */
  border-color: var(--box-bg);
  border-bottom-width: 2px !important;
}
#code-submit {
  display: none;
  background-image: url(../img/icon/forward.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50px;
  border-width: 2px !important;
  background-color: var(--box-border);
}

body {
  overflow-y: auto !important;
  max-height: 100%;
}
#auth-form {
  min-height: fit-content;
}
#provider-login {
  display: flex;
  flex-flow: row nowrap;
}
#provider-login > * {
  flex-shrink: 0;
}
@media (max-width: 400px) {
  #oauth-login {
    content-visibility: hidden !important;
    color: transparent !important;
    font-size: 0 !important;
    flex-basis: 48px;
    background-position: center center;
  }
  #provider-login > input {
    flex-grow: 1 !important;
  }
}
