:root {
  --bg: #131f22;
  --menu-accent: #52656d;
  --box-border: #37464f;
  --box-bg: #131f22;
  --button-bg: #131f22;
  --secondary: #1f3136;
  --secondary-alt: #37464f; /*need to fix these*/
  --button-border: #37464f;
  --button-accent: #37464f;
  --progress-back: #37464f;
  --progress-bar-bg: #1f3136;
  --progress-fill: #93d333;
  --progress-fill-accent: #a9dc5c;
  --text-primary: #f1f7fb;
  --text-secondary: #51646c;
  /*tutorial*/
  --overlay-bg: #ffffff40;
  --tutorial-action-bg: #68952d;
  --tutorial-action-border: #557b24;
  /*learn*/
  --bar-bg: #37464f;
  --bar-color: #2f8da2;
  --bar-accent: #24adcc;
  --bar-text: #ffffff;
  --study-card-bg: url(../img/card/dark/card=study.svg);
  --learn-card-bg: url(../img/card/dark/card=learn.svg);
  --create-card-bg: url(../img/card/dark/card=create.svg);
  --card-text: #ffffff;
  /*settings*/
  --switch-bg: var(--box-border);
  --switch-selected: #828282;
  --prior-button-bg: #2b659c;
  --prior-button-border: #184977;
  --prior-button-accent: #ffffff;
  /*practice*/
  --info-button-bg: #28bdec;
  --info-button-border: #119ac5;
  --check-button-accent: #ffffff;
  --answer-content: #eaf3f8;
  --answer-placeholder: #1f3136;
  --check-button-blank: #1f3136;
  --check-button-blank-accent: #37464f;
  --check-fill: #93d334;
  --check-fill-accent: #77ba34;
  --check-fill-skipped: #ffaf1a;
  --check-fill-skipped-accent: #ca8b16;
  --check-fill-incorrect: #ff4b4c;
  --check-fill-incorrect-accent: #e82e2b;
  --check-button-accent: #131f22;
  --result-correct-bg: #1f3136;
  --result-incorrect-bg: #1f3136;
  /*toast*/
  --toast-bg: #303030;
  --toast-bg-transparent: #303030aa;
  --toast-text: #ffffff;
  --toast-border: #242424;
  --toast-secondary: #3b3b3b;
  /*items*/
  --dropdown-border: #37464f;
  --dropdown-items: #37464f;
}
.active-img,
.option-icon,
.result-img,
.accented {
  filter: brightness(0.9);
}

#answer-mascot {
  filter: brightness(0.8);
}
.tree-item {
  filter: brightness(0.85) saturate(1.1);
}
.orientation-select {
  background-image: url(../img/template/rotation-icon-dark.svg) !important;
}
.tense-select {
  background-image: url(../img/template/clocks-icon-dark.svg) !important;
}
.verbs-select {
  background-image: url(../img/template/verb-icon-dark.svg) !important;
}
