:root {
  --bg: #ffffff;
  --menu-accent: #c8c8c8;
  --box-border: #e5e5e5;
  --box-bg: #ffffff;
  --button-bg: #ffffff;
  --secondary: #eeeeee;
  --secondary-alt: #c8c8c8;
  --button-border: #e5e5e5;
  --button-accent: #e5e5e5;
  --progress-back: #bfbfbf;
  --progress-bar-bg: #e5e5e5;
  --progress-fill: #8ac63c;
  --progress-fill-accent: #9ccf59;
  --on-bg: #4b4b4b;
  --text-primary: #4b4b4b;
  --text-secondary: #777777;
  /*tutorial*/
  --overlay-bg: #00000040;
  --tutorial-action-bg: #9bce59;
  --tutorial-action-border: #8ac63c;
  /*learn*/
  --bar-bg: #e5e5e5;
  --bar-color: #3cadc6;
  --bar-accent: #44c2de;
  --bar-text: #ffffff;
  --study-card-bg: url(../img/card/light/card=study.svg);
  --learn-card-bg: url(../img/card/light/card=learn.svg);
  --create-card-bg: url(../img/card/light/card=create.svg);
  --find-card-bg: url(../img/card/light/card=find.svg);
  --card-text: #ffffff;
  /*settings*/
  --switch-bg: var(--box-border);
  --switch-selected: #828282;
  --blue-button-bg: #237ed3;
  --blue-button-border: #1765ac;
  --blue-button-accent: #ffffff;
  /*practice*/
  --info-button-bg: #1fc2ff;
  --info-button-border: #1aa7ea;
  --check-button-accent: #ffffff;
  --answer-content: #4b4b4b;
  --answer-placeholder: #e5e5e5;
  --check-button-blank: #e5e5e5;
  --check-button-blank-accent: #c8c8c8;
  --check-fill: #57cc02;
  --check-fill-accent: #58a700;
  --check-fill-skipped: #ebac00;
  --check-fill-skipped-accent: #d18800;
  --check-fill-incorrect: #ff4b4b;
  --check-fill-incorrect-accent: #e72727;
  --result-correct-bg: #d7ffb9;
  --result-incorrect-bg: #ffdfe0;
  --infinite: #2b71c9;
  --infinite-accent: #3e8be9;
  /*toast*/
  --toast-bg: #f0f0f3;
  --toast-bg-transparent: #f0f0f3aa;
  --toast-text: #181c1e;
  --toast-border: #c8c8c8;
  --toast-secondary: #e5e5e5;
  /*login*/
  --error-border: #ff4b4c;
  --error-bg: #ffdfe0;
  /*items*/
  --dropdown-border: #aeaeae;
  --dropdown-items: #aaaaaa;
  /*other*/
  --action-color: #1cb0f6;
  /*streak calendar*/
  --cal-head: #3673ce;
  --cal-head-accent: #ffffff;
  --cal-button: #6baae3;
  --cal-button-drop: #4e9ae0;
  --cal-button-accent: #ffffff;
  --cal-streak: #ffa438;
  --cal-streak-accent: #ffffff;
  --cal-login: #eeeeee;
  --cal-login-accent: #d4d4d4;
  --cal-none: #ffffff00;
  --cal-none-accent: #eeeeee;
  /**/
  --announcement-link: #53b8f4;
  -webkit-link: #53b8f4;
}
.options-toggles:empty,
.loadcover {
  background-image: url(../img/load/part=loading-1-light.svg);
}

@keyframes load {
  0% {
    background-image: url(../img/load/part=loading-1-light.svg);
  }
  33% {
    background-image: url(../img/load/part=loading-2-light.svg);
  }
  67% {
    background-image: url(../img/load/part=loading-3-light.svg);
  }
}
