:root {
  --bg: #1d55a8;
  --secondary-bg: #141f23;
  --menu-accent: #52656d;
  --box-border: #37464f;
  --box-bg: #141f23;
  --button-bg: #141f23;
  --secondary: #1f3136;
  --secondary-alt: #37464f;
}
body {
  background-color: var(--bg);
}
#top-content {
  height: calc(50vh + 40px);
  margin-bottom: -40px;
  position: relative;
}
#mascot {
  position: absolute;
  width: 20vh;
  height: 30vh;
  bottom: 40px;
  left: 20vw;
  min-width: 100px;
  min-height: 150px;
  max-height: 325px;
  z-index: 1001 !important;
  filter: brightness(0.9);
}

@keyframes earth-corona {
  0% {
    box-shadow: 0 0 0 0vw #1d4f9b00, 0 0 0 0vw #23529900, 0 0 0 0vw #3076e000;
  }
  100% {
    box-shadow: 0 0 0 calc(5 * var(--base-unit)) #1d4f9b70, 0 0 0 calc(10 * var(--base-unit)) #23529950, 0 0 0 calc(15 * var(--base-unit)) #3076e015;
  }
}
#earth-illustration {
  --base-unit: calc(0.76vh + 0.4vw);
  overflow: hidden;
  border-radius: 50vh;
  width: 50vh;
  height: 50vh;
  font-size: 50vw;
  bottom: -15vh;
  right: -10vh;
  position: absolute;
  animation: earth-corona 1s forwards ease-out;
}

#mascot > img {
  height: 100%;
  width: auto;
}
#earth-illustration > * {
  width: 100%;
  height: 100%;
  position: absolute;
}
#lower-box {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: fit-content;
}
#lower-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#lower-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--secondary-bg);
  min-height: 100px;
  height: 50vh;
}
#top-content * {
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
#bg-stars {
  user-select: none;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Next", sans-serif;
}
@media (orientation: landscape), (min-width: 700px) {
  .star {
    width: 5px;
    height: 5px;
    background: #f6f6f6cc;
  }
}
#error-text {
  z-index: 1002 !important;
  position: absolute !important;
  left: calc(20vw + 20vh);
  bottom: 15vw;
  height: fit-content;
}
#number-text {
  background: url(/VITE/img/moon-bg.svg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 200px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}
#error-box-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  height: 100px;
  margin-top: -5vh;
}
#error-box-extras {
  height: 20px;
  width: 15px;
  margin-left: -10px;
  margin-right: -5px;
  background-color: #878f97;
  border-radius: 20px 0 0 20px;
  border: solid 5px #79828b;
  border-right: none;
  z-index: 1002;
}
#error-box {
  border: solid 5px #79828b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 350px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #878f97;
  text-align: center;
  color: #575e64;
  font-size: 30px;
}
@media (max-width: 700px) {
  #mascot {
    left: calc(20vh - 12.5vw - 100px);
  }
  #error-text {
    left: calc(50vw - 175px);
    top: calc(25vh - 150px);
  }
}
@media (max-height: 100vw) {
  #error-text {
    top: calc(25vh - 150px);
  }
}
@media (max-width: 500px) {
  #earth-illustration {
    width: 70vw;
    height: 70vw;
    top: -35vw;
    right: -10vw;
    font-size: 70vw;
  }
  #mascot {
    width: 100px;
    height: 150px;
  }
  #error-text {
    z-index: 1 !important;
  }
  #offline-img {
    display: none;
  }
}
@keyframes scroll-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1em 0;
  }
}
#earth-clouds-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transform-origin: center;
  background-image: url(/VITE/img/earth-clouds.png);
  background-size: contain;
  background-repeat: repeat-x;
  animation: scroll-bg 30s linear infinite;
}
#lower-content {
  display: flex;
  flex-flow: row nowrap;
}
#lower-content * {
  flex-grow: 1;
  width: 50%;
  align-items: stretch;
  height: 100%;
  justify-content: stretch;
}
#offline-img {
  background-image: url(/VITE/img/offline/image-offline.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#action-btns {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  box-sizing: border-box;
}
#action-btns > a {
  flex-grow: 0;
  width: 100%;
  max-width: 500px;
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 1;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #1f3136;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #415f66 !important;
  text-decoration: none !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#action-btns > a > * {
  pointer-events: none;
  user-select: none;
  height: fit-content;
  flex-grow: 1;
  text-align: center;
}
#action-btns > a > .shortcut-icon {
  flex-grow: 0;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
