@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Righteous&display=swap");

:root {
  --vite-bg: lightblue;
  --text-color: white;
  --accent-text-color: white;
  --keyboard-bg: #273238;
  --keyboard-faded: #9da5a8;
  --keyboard-faded-transparent: #9da5a844;
  --keyboard-accent: #6eaca7;
  --button-active: #6ab0c9bb;
  --button-active-alt: #7ac96abb;
  --keyboard-shadow: #182128;
  --keyboard-active: white;
  --keyboard-separator: #3b464c;
  --keyboard-reset: #99240fda;
  --keyboard-button: #414a51;
  --keyboard-button-text: #bfc1c4;
  --keyboard-action: #6d0f99da;
}
html,
body {
  height: 100%;
  width: 100%;
  background: var(--vite-bg);
  padding: 0 !important;
  margin: 0 !important;
}
button {
  cursor: pointer;
  box-shadow: 0 0.3vw 0 var(--keyboard-shadow);
}
footer.bottom-controls {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  height: 13vw;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
  border-radius: 6vw 6vw 0 0;
  border-bottom: solid var(--keyboard-separator) 2px;
}
.bottom-controls #bottom-actions {
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: var(--keyboard-faded);
  font-family: "Righteous", sans-serif;
  font-size: 3.5vw;
}
#bottom-actions * {
  text-transform: uppercase;
  height: 100%;
  line-height: 13vw;
  flex-grow: 1;
  transition: width 0.5s ease-in-out, color 0.25s ease-in-out;
  width: 34%;
  flex-shrink: 0;
  cursor: pointer;
}
#bottom-actions .active {
  color: var(--keyboard-active);
}

footer {
  overflow: hidden;
  background-color: var(--keyboard-bg);
  pointer-events: all;
}
footer.accent-bar {
  position: fixed;
  bottom: -13vw;
  width: 100%;
  height: 13vw;
  font-family: "Righteous", sans-serif;
  border-radius: 6vw 6vw 0 0;
  border-bottom: solid var(--keyboard-separator) 2px;
  transition: bottom 0.3s ease-in-out;
  z-index: 99;
}

body.keyboard footer.accent-bar {
  bottom: 0vw !important;
  font-family: "Righteous", sans-serif;
}
body.keyboard footer.accent-bar.hide {
  bottom: -13vw !important;
  font-family: "Righteous", sans-serif;
}
body.keyboard #bottom-actions * {
  width: 25%;
}
/*accents*/
.bar-separator {
  flex-shrink: 0;
  flex-grow: 0 !important;
  background-color: var(--keyboard-separator);
  align-self: center;
}
.bar-separator.vertical-bar {
  height: 40% !important;
  width: 1px !important;
}
.bar-separator.horizontal-bar {
  width: 60% !important;
  height: 1px !important;
  margin: 2vw auto;
}
#accent-back {
  border-radius: 20vw;
  margin: 2vw;
  margin-right: 0 !important;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: white;
  display: flex;
  padding: 0 !important;
}
#accent-back img,
#accent-caps img {
  margin: auto;
  aspect-ratio: 1 / 1;
  height: 3vw;
}
#accent-back img {
  padding-right: 0.3vw;
}
#accent-caps {
  border-radius: 20vw;
  margin: 2.5vw;
  margin-left: 0 !important;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: var(--keyboard-accent);
  display: flex;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
}
.accent-bar {
  line-height: 13vw;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  padding-bottom: 0.5vw;
  box-sizing: border-box;
  justify-content: space-between;
}
#accent-buttons {
  width: fit-content;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
#accent-buttons .accent-button {
  font-family: "Comfortaa", cursive;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  height: 7vw;
  background-color: var(--keyboard-button);
  border: none;
  color: var(--keyboard-button-text);
  border-radius: 0.75vw;
  font-size: 3.5vw;

  margin-right: 2.5vw;
}
#accent-buttons *:first-child {
  margin-left: 2vw;
}
#accent-buttons *:last-child {
  margin-right: 0;
}

#accents-caps,
#accents-back {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
#bottom-fade {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    --var(--keyboard-bg) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0) 95%,
    --var(--keyboard-bg) 100%
  );
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  user-select: none;
  pointer-events: none;
}
#footers {
  position: fixed;
  bottom: 0;
  transform: none;
  height: 100%;
  width: 100%;
  transform: translateY(2px);
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}
:root {
  --menu-height: 50vw;
}
#footers extended {
  display: flex;
  position: relative;
  right: -200vw;
  height: 100%;
  flex-shrink: 0;
  flex-flow: row;
  flex-wrap: nowrap;
  background-color: var(--keyboard-bg);
  width: 300vw;
  height: calc(var(--menu-height) + 0.5vw);
  position: fixed;
  bottom: calc(0vw - var(--menu-height));
  z-index: 100;
  border-top: solid var(--keyboard-separator) 2px;
  /*
  transition: bottom 0.5s, height 0.5s;
  */
  pointer-events: all;
  transition: right 0.5s;
}
body.menu #footers {
  transform: translateY(calc(0vw - var(--menu-height)));
}
#accent-caps img {
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;
}
#accent-caps.caps img {
  transform: scaleY(-1);
}
extended > #verbs,
extended > #themes,
extended > #score {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-family: "Comfortaa", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: var(--text-color);
  padding: 5vw;
  box-sizing: border-box;
}
body[menutype="themes"] #footers extended {
  right: -200vw;
}
body[menutype="verbs"] #footers extended {
  right: -100vw;
}
body[menutype="score"] #footers extended {
  right: 0vw;
}
body[menutype="verbs"] {
  --menu-height: 120vw;
}
body[menutype="score"] {
  --menu-height: 33vw;
}
body.menu #content {
  padding-bottom: calc(var(--menu-height) + 13vw);
}
#content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 13vw;
  display: flex;
  justify-content: center;
  transition: padding-bottom 0.5s ease-in-out;
}

#answer-input {
  font-family: "Comfortaa", sans-serif;
  border: solid grey 4px;
  border-radius: 6vw;
  padding: 1vw 3vw;
  width: 55vw;
  height: 9vw;
  font-size: 5vw;
  align-self: center;
  box-sizing: border-box;
  z-index: 2;
}

#extended-fill {
  background: var(--keyboard-bg);
  width: 100vw;
  height: 200vw;
  position: fixed;
  bottom: -200vw;
}
flex-break {
  width: 100%;
  height: 0 !important;
  margin: 0 !important;
}
/**Menus**/
/*Score*/
#score-flex-row {
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 5vw;
  margin: -1vw;
}
#score-flex-row > * {
  margin: 1.5vw;
  background: var(--keyboard-faded-transparent);
  border-radius: 20vw;
}
#score-flex-row > button {
  flex-grow: 2;
  background: var(--keyboard-faded-transparent);
  border: none !important;
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
  padding: 2vw;
}
button#reset-score {
  background: var(--keyboard-reset);
  font-size: 4vw;
}
#score-number {
  padding: 2vw;
  text-align: center;
  flex-grow: 1;
  font-size: 5vw;
  width: fit-content;
  flex-shrink: 0;
}
.score-num {
  padding: 2.5vw 2vw;
  font-size: 4vw;
}
#score-bars {
  flex-grow: 10;
  box-sizing: border-box;
  padding: 1vw;
  display: flex;
  overflow: hidden;
  flex-flow: row;
  flex-wrap: nowrap;
}
#score-num-correct::before {
  content: "Correct: ";
}
#score-num-incorrect::before {
  content: "Incorrect: ";
}
score-bar {
  width: 50%;
  display: flex;

  height: 100%;
  flex-grow: 1;
}
score-bar.s-correct {
  background: #00800088;
  border-radius: 5vw 0 0 5vw;
}
score-bar.s-incorrect {
  background: #ff000088;
  border-radius: 0 5vw 5vw 0;
}
/*Themes*/
#themes {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  height: 50vw !important;
}
.table-half {
  height: 100%;
  width: 50%;
  display: flex;
  flex-shrink: 0;
}
#display-modes {
  flex-flow: column;
  justify-content: space-between;
  padding-right: 5vw;
  box-sizing: border-box;
}
.toggle {
  font-family: "Comfortaa", sans-serif;
  border-radius: 20vw;
  border-radius: none;
  font-size: 4vw;
  background: var(--keyboard-faded-transparent);
  border: none;
  color: var(--text-color);
  padding: 2vw;
  height: 10vw;
  box-shadow: none !important;
}
#bg-color {
  /*background-color: var(--vite-bg);*/
  flex-grow: 1;
  border-radius: 5vw;
  height: 25vw;
  margin-bottom: 5vw;
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
#bg-color input {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(1.5);
}
.toggle.active {
  background-color: var(--button-active);
}

#theme-switch {
  background: var(--keyboard-faded-transparent);
  width: 100%;
  height: 10vw;
  border-radius: 20vw;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 1vw;
  box-sizing: border-box;
}

#switch-bar {
  height: 100%;
  width: 19%;
  display: flex;
  justify-content: flex-end;
  transition: width 0.5s ease-in-out;
  border-radius: 20vw;
  background-color: var(--theme-color);
  transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}

#switch-ball {
  background: var(--keyboard-accent);
  height: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border-radius: 20vw;
  cursor: pointer;
  transform-origin: center center;
  transform: scale(0.8);
  transition: background-color 0.5s ease-in-out;
}
#switch-ball #theme-light-img {
  display: none;
}
#switch-ball #theme-dark-img {
  display: block;
}
#switch-ball img {
  width: 100%;
  height: 100%;
  transform: scale(0.75);
}
#display-colors {
  flex-wrap: wrap;
  height: 100%;
}

/**Light | Dark Mode**/
:root {
  --theme-color: rgba(255, 255, 0, 0.514);
}
body[light-theme] {
  --text-color: black;
  --keyboard-bg: #e8eaed;
  --keyboard-accent: #1a73e8;
  --button-active: #1a73e87c;
  --button-active-alt: #32e81a7c;
  --keyboard-faded: #c4c5c8;
  --keyboard-faded-transparent: #5d5e5f44;
  --keyboard-shadow: #a9abad;
  --keyboard-active: #454647;
  --keyboard-separator: #c4c5c8;
  --keyboard-reset: #ff3d1bda;
  --keyboard-button: white;
  --keyboard-button-text: black;
  --theme-color: #ffff0083;
  --keyboard-action: #c46df7;
}
body[light-theme] #theme-switch #switch-bar {
  width: 100%;
}
body[light-theme] #switch-ball #theme-light-img {
  display: block !important;
}
body[light-theme] #switch-ball #theme-dark-img {
  display: none !important;
}
/*Verbs*/
#verbs {
  justify-self: start;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
  height: 70vw;
  flex-shrink: 0;
}
#verbs-1,
#verbs-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}
#verbs-2 {
  margin-top: 10vw;
  overflow: unset !important;
}

#subjects-list {
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  margin: -1vw;
  margin-right: 2vw;
  flex-basis: 50%;
  flex-grow: 1;
  flex-basis: max-content;
  flex-wrap: nowrap;
}
.subject-button {
  margin: 1vw;
  padding: 0 2vw;
  flex-grow: 0;
  white-space: nowrap;
}
#verbs-preview {
  margin: -1vw !important;
  margin-left: 2vw;
  flex-basis: 50%;
  flex-grow: 4;
  flex-flow: column;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.verb-button {
  margin: 1vw;
  flex-grow: 1;
}
#verbs-grid {
  overflow: hidden;
  flex-flow: row;
  flex-wrap: wrap;
  display: flex;
  max-height: 64vw;
  width: 100%;

  flex-grow: 1;
}
#verbs-preview > button {
  flex-grow: 1;
  margin: 1vw;
}
#more-verbs {
  font-family: "Comfortaa", sans-serif;
  border-radius: 20vw;
  border-radius: none;
  font-size: 4vw;
  background-color: var(--keyboard-accent);
  border: none;
  color: var(--accent-text-color);
  padding: 2vw;
  height: 10vw;
  box-shadow: none !important;
  flex-grow: 0 !important;
}
#verbs-scroll,
.scroll-container {
  overflow: scroll;
  height: calc(100% + 10vw);
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
#verbs-scroll::-webkit-scrollbar {
  display: none;
}
.scroll-content {
  padding: 5vw 0;
}
#verbs-scroll-fade,
.scroll-fade {
  height: calc(100% + 10vw);
  box-sizing: border-box;
  width: 100%;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
fade-bar {
  height: 5vw;
  width: 100%;
}
fade-bar.fade-bottom {
  background: linear-gradient(180deg, #00000000 0%, var(--keyboard-bg) 100%);
}
fade-bar.fade-top {
  background: linear-gradient(0deg, #00000000 0%, var(--keyboard-bg) 100%);
}
#verbs-extended {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
#verbs-extended .verb-button {
  flex-grow: 1;
}
#verb-add {
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);
}
#verb-add * {
  box-shadow: none;
}
#verb-add button,
#verb-add input,
#verb-add-helping {
  border: none;
  border-radius: 20vw;
  padding: 2vw;
  font-size: 3vw !important;
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);
}
.verb-add-pair,
#verb-add-tense-participle,
#verb-add-tense-stem,
#verb-add-tense-helping {
  margin: 2vw 1vw;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
#verb-add-submit-container * {
  flex-grow: 1;
  margin: 0 1vw;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  flex-basis: max-content;
}
#verb-add-submit-container {
  margin: 2vw 0vw;
  display: flex;
  flex-wrap: nowrap;
}
#verb-add-definition-container {
  margin: 2vw 1vw;
}
#verb-add-def-stem {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
#verb-add-name {
  flex-grow: 2;
  flex-basis: 30%;
}
.verb-add-pair input,
#verb-add-participle,
#verb-add-def,
#verb-add-stem,
#verb-add-helping {
  flex-grow: 1;
  margin-left: 3vw;
}
.verb-add-pair input,
#verb-add-participle,
#verb-add-stem,
#verb-add-name,
#verb-add-def,
#verb-add-helping {
  background: var(--keyboard-faded-transparent);
}
#verb-add input {
  font-size: 3vw;
}
.verb-add-label,
#verb-participle-label,
#verb-def-label,
#verb-stem-label {
  line-height: 7vw;
}
#verb-add button {
  font-size: 3vw;
  background: var(--keyboard-faded-transparent);
}
#verb-add-reset {
  background: var(--keyboard-reset) !important;
}
#verb-custom-share {
  opacity: 0.2;
  background: var(--keyboard-action) !important;
}
#verb-custom-share.active {
  opacity: 1 !important;
}

.attention {
  background-color: #af5f5f44 !important;
}
body[light-theme] .attention {
  background-color: #f17e7e94 !important;
}
#verb-add-submit {
  background-color: var(--keyboard-accent) !important;
  margin-right: 0 !important;
  border-radius: 20vw 0 0 20vw !important;
}
body[light-theme] #verb-add-submit,
body[light-theme] #verb-add-reset,
body[light-theme] #verb-custom-share {
  color: white;
}
#verb-add-name {
  border-radius: 0 20vw 20vw 0 !important;
  margin-left: 0;
}
.verb-button * {
  pointer-events: none;
}
.custom-verb {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.custom-verb.active {
  background-color: var(--button-active-alt);
}
.verb-name {
  flex-grow: 1;
}
.custom-verb-img {
  height: 100%;
  aspect-ratio: 1 /1;
  flex-grow: 0 !important;
  transform: scale(0.75);
}
body[light-theme] .custom-verb-img {
  filter: invert(1);
}
#verbs-back {
  height: fit-content;
  flex-grow: 2;
  margin: 1vw;
  background: var(--keyboard-accent);
  color: var(--accent-text-color);
  cursor: pointer;
  user-select: none;
}
#verbs-1 {
  flex-flow: column !important;
}
#verb-tenses {
  display: flex;
  height: 35vw;
  margin: -1vw;
  margin-top: 1vw;
  width: 100%;
  flex-shrink: 0;
  flex-flow: row;
  flex-wrap: wrap;
}
.tense-button {
  flex-grow: 1;
  margin: 1vw;
  padding: 0 2vw;
  white-space: nowrap;
  box-shadow: none;
}
#verb-grid-row {
  width: 90vw;
  height: 111vw;
  position: relative;
  bottom: 0vw;
  transition: bottom 0.5s ease-in-out;
}
#verbs[verbs-extended="true"] #verb-grid-row {
  bottom: 121vw;
}
#tense-separator {
  margin: 1vw auto !important;
}
#verb-and-subject {
  height: 71vw;
  display: flex;
}
#vite-question {
  --bottom-height: 0vw;
}
body.menu #vite-question {
  --bottom-height: var(--menu-height);
}
#vite-question {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: calc(
    (var(--bottom-height) + 13vw) + (100vh - (var(--bottom-height) + 13vw)) / 2 +
      4.5vw
  );
  top: 0;
  left: 0;
  z-index: 0;
  transition: padding-bottom 0.5s ease-in-out;
}
#question-content {
  background-color: peachpuff;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
}
