@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;600;700&display=swap");
body {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
body,
html {
  height: 100%;
  width: 100%;
}
#flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#options-container {
  /*placeholder*/
  background-color: lightgray;
  box-shadow: 0 0 4px #000000aa;
  flex-shrink: 0;
  flex-basis: 400px;
  border-radius: 4vh;
  display: none;
}
#sheet-container {
  background-color: white;
  box-shadow: 0 0 4px #000000aa;
  height: 90%;
  aspect-ratio: 8.5 / 11;
}

#sheet-title {
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  font-weight: 500;
  margin: 0.5em 0;
}
#sheet-title,
#sheet-fields {
  font-family: "Caveat", cursive;
}
#sheet-fields {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1.5em 2.7em;
  padding-bottom: 0;
}
.sheet-field {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
.field-underline {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0.2em;
  margin-left: 0.3em;
  margin-right: 0.7em;
  border-bottom: solid black 0.1em;
}
.sheet-field:last-child .field-underline {
  margin-right: 0em !important;
}
#score-underline {
  margin-right: 0.25em !important;
}
#sheet-nom {
  flex-grow: 9;
}
#sheet-periode {
  flex-grow: 1.5;
}
#sheet-score {
  flex-grow: 3;
}
.question-parent {
  width: 20%;
  flex-shrink: 0;
  aspect-ratio: 1.21 / 1;
  display: flex;
  padding: 2.5%;
  flex-flow: column;
}
.question-row {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  flex-shrink: 0;
}
.question-plus {
  width: fit-content;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  flex-grow: 0;
}
.question-verb {
  text-align: right;
  flex-grow: 1;
}
.question-subject {
  width: 100%;
  text-align: right;
}
.question-answer {
  border-bottom: solid black 0.1em;
  flex-grow: 1;
  flex-basis: 0.7em;
  flex-grow: 0;
  text-align: right;
  color: transparent;
  white-space: nowrap;
  font-size: 0.7em;
}
body.answers .question-answer {
  color: red;
}
#sheet-content {
  font-family: "Comfortaa", cursive;
  padding: 0 2.7em;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
#download-options {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vh;
  display: flex;
  flex-flow: column;
}
#full {
  margin-top: 0.2em;
}
